  <?php
    $quantity = 0;
    $shipping_cost = 0; 
    $sales_tax = 0;
    $total = 0;
    $grand_total = 0;
    $class = "col-lg-6";
    if(!empty($this->request->session()->read("card_data.send")) && $this->request->session()->read("card_data.send") == "to_me"){
      $quantity = $this->request->session()->read("card_data.quantity");
      
    }
    if(!empty($this->request->session()->read("card_data.send")) && $this->request->session()->read("card_data.send") == "to_receipent"){
      $quantity =  count($this->request->session()->read("card_data.data"));
      if($quantity==1){
        $class = "col-lg-12";
      }

    }

    $total = $template_data['price']*$quantity;
   ?>
        <div class="cart-header">
          <div class="cart-header__cell cart-header__cell--item">
            <h3 class="cart-item__sub-heading">Item</h3>
          </div>
          <div class="cart-header__cell cart-header__cell--price">
            <h3 class="cart-item__sub-heading">Total</h3>
          </div>
        </div>
        <div class="cart-item">
          <div class="cart-item__cell cart-item__cell--left"> 
          <?php echo $this->Html->image("template_images/".$preview_image,['alt' => "Product Name"]);?>
          </div>
          <div class="cart-item__cell cart-item__cell--right">
            <div class="cart-item__sub-cell cart-item__sub-cell--top">
              <div class="cart-item__sub-sub-cell cart-item__sub-sub-cell--title">
                <h3 class="cart-item__heading"><?php echo !empty($template_data['template']['name'])?$template_data['template']['name']." (".$template_data['template']['code'].")":""?></h3>
                <p>Quantity</p>
                
                <!-- <p>Cooking is personal, and so is the Tasty cookbook. &nbsp; Printed just for you, with seven of your favorite recipe themes &amp; a personalized dedication page.</p> --> 
              </div>
              <div class="cart-item__sub-sub-cell cart-item__sub-sub-cell--price"> <span class="cart-item__price">$<?php echo !empty($template_data['price'])?$template_data['price']:"0.00"?></span> <span class="cart-item__quantity"><?php echo $quantity;?></span> </div>
            </div>
        <!--     <div class="cart-item__sub-cell cart-item__sub-cell--bottom">
              <div class="cart-item__sub-sub-cell cart-item__sub-sub-cell--recipes-edit">
                <div class="cart-item__sub-sub-sub-cell cart-item__sub-sub-sub-cell--recipes left">
                  <h4 class="cart-item__sub-heading photo">Photo Uploaded</h4>
                </div>
                <div class="cart-item__sub-sub-sub-cell cart-item__sub-sub-sub-cell--recipes right">
                  <h4 class="cart-item__sub-heading photo-img">
                  <?php echo $this->Html->image("user_images/".$this->request->session()->read("GuestUser.image_name"),["height" => "50","width" => "50"]);?>
                  </h4>
                </div>
              </div>
              <div class="cart-item__sub-sub-cell cart-item__sub-sub-cell--remove">
                <div class="cart-item__sub-sub-sub-cell cart-item__sub-sub-sub-cell--recipes">
                  <h4 class="cart-item__sub-heading">Voice Recorded</h4>
                </div>
                <div class="cart-item__sub-sub-sub-cell cart-item__sub-sub-sub-cell--recipes">
                  <h4 class="cart-item__sub-heading">
                  <audio preload="auto" class="audio_recorded" src="<?php echo $SITEURL."img/user_audio/".$this->request->session()->read("GuestUser.audio_name");?>" controls=""></audio>
                   
                 </h4>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <?php  if(!empty($this->request->session()->read("card_data.send")) && $this->request->session()->read("card_data.send") == "to_me"){ 
           
           if($this->request->session()->read("card_data.country_id")!=231){
                $shipping_cost+=2;
               }else{
                $shipping_cost = $this->request->session()->read("card_data.shipping");
               
               }
               

              $state = $this->Location->state_name($this->request->session()->read("card_data.state_id"));
           
            $country = $this->Location->country_name($this->request->session()->read("card_data.country_id"));

            $get_total = $total+$shipping_cost;

             if($this->request->session()->read("card_data.state_id")==3943){
                $sales_tax = $get_total*$sal_tax/100;                
               }

          ?>

            <div class="col-lg-12">
            <div class="shipping-address">
              <div class="cross-icon">
                <p>Address</p>
                </div>
              <div class="adress-text">
                <p><?php echo $this->request->session()->read("card_data.first_name")." ".$this->request->session()->read("card_data.last_name");?></p>
                <p><?php echo $this->request->session()->read("card_data.address_one")." ".@$this->request->session()->read("card_data.address_two")." ".$this->request->session()->read("card_data.city");?></p>
                <p><?php echo $state['name'];?><?php echo  !empty($this->request->session()->read("card_data.zip"))?", ".$this->request->session()->read("card_data.zip"):"";?><?php echo  !empty($country['name'])?", ".$country['name']:"";?></p>
              </div>
            </div>
          </div>
                <?php } ?>
       <?php  if(!empty($this->request->session()->read("card_data.send")) && $this->request->session()->read("card_data.send") == "to_receipent"){ $get_quantity_for_saleTax=0;$calculate_ship_cost =0; $i=1; foreach ($this->request->session()->read("card_data.data") as $key => $value) {
          
           
            $country = $this->Location->country_name($value['country_id']);
            
               if($value['country_id']!=231){
                $shipping_cost+=2;
              
               }
               else{
                // echo "hello";
                $shipping_cost += $value['shipping'];
               if($value['state_id']==3943){
		$calculate_ship_cost+= $value['shipping'];
               $get_quantity_for_saleTax+=1;
               $get_total = $template_data['price']*$get_quantity_for_saleTax+$calculate_ship_cost;
                 $sales_tax = $get_total*$sal_tax/100;   
               
               }
               
               }
              


        ?>

          <div class="<?php echo $class;?>">
            <div class="shipping-address">
              <div class="cross-icon">
                <p>Address <?php echo $i;?></p>
                </div>
              <div class="adress-text">
                <p><?php echo $value['first_name']." ".$value['last_name'];?></p>
                <p><?php echo $value['address_one']." ".@$value['address_two']." ".$value['city'];?></p>
                <p><?php if(!empty($value['state_id'])){            
                           $state = $this->Location->state_name($value['state_id']);
                        echo @$state['name'];
                         } ?><?php echo !empty($value['zip'])?", ".$value['zip']:"";?><?php echo !empty($country['name'])?", ".$country['name']:"";?></p>
              </div>
            </div>
          </div>
          <?php $i++; } } ?>
        </div>
        <div class="cart-totals">
          <div class="cart-totals__row">
            <h4 class="cart-totals__heading">Items total:</h4>
            <span class="cart-totals__total">$<?php echo number_format($total,2);?></span> </div>
          <div class="cart-totals__row">
            <h4 class="cart-totals__heading">Shipping:</h4>
            <span>$<?php echo number_format($shipping_cost,2);?></span> </div>
          <div class="cart-totals__row">
            <h4 class="cart-totals__heading">Sales Tax:</h4>
            <span>$<?php echo number_format($sales_tax,2);?></span> </div>
        </div>
        <?php $grand_total += $total+$shipping_cost+$sales_tax;?> 
        <div class="cart-totals grand">
          <div class="cart-totals__row">
            <h4 class="cart-totals__heading">Order Total:</h4>
            <span class="cart-totals__total">$<?php echo number_format($grand_total,2);?></span> </div>
        </div>
        <div class="clear"></div>
        <div class="master-cart-footer">
        <form action="" method="post" id="checkout_form">
       
      
        <button type="submit" class="shopping-button checkout_submit lead-btn">Checkout</button>
        </form>

       
