

    <div class="contact-conatiner"> 
      
<div class="row">
         
      <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="get-in-touch">
                  <h4>Get in Touch</h4>
                    <p>Please fill out the form below, and we’ll get back to you with lightning speed.</p>
                    
                      <?php
                                    echo "<center>" . $this->Flash->render() . "</center>";
                                    echo $this->Form->create("/", ['url' => ['action' => 'contact'], 'id' => 'contact', 'label' => false, 'type' => 'file']);
                                    ?>
              <div class="form-group">
               <input name="name" class="form-control" style="border-radius:0px" id="" placeholder="Name" type="text">
              </div>
              <div class="form-group">
                 <input name="email" class="form-control" style="border-radius:0px" id="" placeholder="Your Email Address" type="email">
              </div>
              
              
              
              
              <div class="form-group">
                <?php echo $this->Form->input('message', ['type' => 'textarea', 'class' => 'form-control deal_description', 'label' => false, "maxlength" => "500",'placeholder' =>"Message"]); ?>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-default submit-btn normal_user_submit lead-btn">Send</button>
              </div>
              
              
            </form>
                </div>
            </div>
          
     
            <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="get-in-touch right-side">
			
			
			
             <div class="address">   <h3> <i class="fa fa-envelope-o" aria-hidden="true"></i>
 Connect With Us</h3>
            <h6> For customer service or any other question: hello@lizicards.com </h6> </div>

      <div class="address">
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> 
 LiziCards</h3>
            <h6>745 Atlantic Ave <br/> Boston, MA 02111 U.S.A
</h6>
            </div>
            
            

            </div>
            
            
            </div>
			
			
			
			 <div class="col-md-12 col-sm-12 col-xs-12 ">
			            <div class="address contact-text">
            <h3>Welcome to the Lizicards Webshop!</h3>
            <h6>Lizicards’ mission is to help you create high-quality, personalized paper greeting cards that your friends and families will cherish. In the Lizicards webshop or on our iPhone app, you upload photos and personal voice messages to create greeting cards that say exactly what you want to say!</h6>
<h6>Once you have created your customized paper Christmas greeting cards, happy birthday cards, new year cards, invitation cards, or Hanukkah cards, Lizicards will print and mail the custom top-of-the-line card for you. </h6>
            </div>
			
         </div>
        </div>
      </div>

  
      
    </div>
  </div>
</div>
