 <div class="row show_shiiping_option">
                <div class="col-md-12 col-sm-12 col-xs-12 radio-button">
                 <h4 class="shipm">Shipping method</h4>
                  <input checked="checked" class="radio-shipping" type="radio" name="shipping" value="1"> First Class shipping: <strong>$1</strong><br>
                  <input class="radio-shipping" type="radio" name="shipping" value="7"> Expedited shipping: <strong>$7</strong><br>
                  <!-- <input class="radio-shipping" type="radio" name="shipping" value="5"> Next day rush order (next day delivery if ordered before 12pm) -->
                </div>
              </div>