<!-- <div class="row show_shiiping_option<?php echo $count;?>"> -->
               <div class="radio-button show_shiiping_option<?php echo $count;?>">
        <h4 class="shipm">Shipping method</h4>
          <input checked="checked" class="radio-shipping" type="radio" name="data<?php echo "[$count]";?>[shipping]" value="1">First Class shipping: <strong>$1</strong><br>
          <input class="radio-shipping" type="radio" name="data<?php echo "[$count]";?>[shipping]" value="7"> Expedited shipping: <strong>$7</strong><br>
          <!--input class="radio-shipping" type="radio" name="data<?php echo "[$count]";?>[shipping]" value="5"> Next day rush order (next day delivery if ordered before 12pm) : <strong>$5</strong-->
        </div>
              <!-- </div> -->