
    <div class="cart-conatiner">
      <h6>THANK YOU!</h6>
      <div class="links">
      <h6>Share the Awesomeness</h6>
      <ul class="social-links social-circle-links">
        <li><a target="_blank" data-url="<?= $SITEURL;?>" href="https://www.facebook.com/dialog/feed?app_id=<?php echo $fb_id;?>&name=<?php echo $template_name;?>&redirect_uri=<?php echo $SITEURL;?>&link=<?php echo $SITEURL."&picture=".$SITEURL."img/template_images/".$preview_image;?>" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <!--<li><a target="_blank" href="https://twitter.com/share?url=<?= $SITEURL?>&text=I have purchase the <?php echo $template_name;?> card from LiziCards" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
        <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url=<?php echo $SITEURL?>&description=I have purchase the <?php echo $template_name;?> card from LiziCards" class="icoTwitter" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        <!-- <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li> -->
      </ul>
      </div>

  <div class="thanku-buttons">
    <a href="http://www.facebook.com/lizicards" target="_blank" class="shopping-button thanku">Follow us on Facebook</a>
    <a href="<?php echo $SITEURL;?>" class="shopping-button thanku">Design Another Card</a>
    </div>
      
    </div>
  </div>
</div>
