<html>
<head>
  <meta property="og:url"           content="http://securedstaging.com/loudcards/users/publink" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Here is my loud sample post description" />
  <meta property="og:image"         content="http://securedstaging.com/loudcards/img/logo.png" />
  <meta property="fb:app_id" content="663418910527497" />

	
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body>
<div id="fb-root"></div>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>


</body>
</html>

    <!---div class="cart-conatiner">
      <h6>THANK YOU!</h6>
      <div class="links">
      <h6>Share Your Card</h6>
      <ul class="social-links social-circle-links">
        <li><a target="_blank" data-url="<?= $SITEURL;?>" href="https://www.facebook.com/dialog/feed?app_id=116698342344076&name=testtemplate&redirect_uri=&link=" class="icoFacebook" title="Facebook">Facebook Link</a></li>
        

	


	<li><a target="_blank" href="https://twitter.com/intent/tweet?url=<?= $SITEURL?>" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>

      </ul>
      </div>

  <div class="thanku-buttons">
    <a href="#" class="shopping-button thanku">Follow us on Facebook</a>
    <a href="<?php echo $SITEURL;?>" class="shopping-button thanku">Design Another Card</a>
    </div>
      
    </div>
  </div>
</div--->






