<style>
.basic-page__body ul li {

    margin-left: 19px;
    margin-top: 2px;
    padding-left: 10px;
}
video {
    width: 100% !important;
}
</style>
    <div class="cart-conatiner">
        <div class="links" style="text-align: justify;">
            <ul class="social-links social-circle-links"></ul>
            <div class="basic-page__body video-tutorial-page">
                <video width="560" height="450" controls autoplay src="<?php echo $SITEURL; ?>img/video/whatis.mp4"></video>                
                <a class="btn btn-lg btn-default lead-btn what_is_get_started" href="javascript:void(0)">Get Started</a> </div>
            </div>
        </div>
    </div>
  </div>
</div>


