
.cart-conatiner {

background: #ffffff none repeat scroll 0 0;
border-radius: 7px;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
padding: 2.5rem 1.25rem;
margin: 0px auto;
}
.master-cart__full { display: block; }
.cart-header { display: flex; padding: 0 1.875rem 0.625rem; }
.cart-header__cell--item { -moz-box-flex: 1; flex: 1 1 0; }
.cart-item__sub-heading { color: #515151; font-size: 1.4rem; font-weight: 900; margin-bottom: 0.3125rem; text-transform: uppercase; }
.cart-item {
    border: 1px solid #f3f4f4;
    border-radius: 5px;
    color: #b0b5b8;
    display: flex;
    font-size: 0.8125rem;
    min-height: 200px;
}
.cart-item__cell--left { width: 12.5rem; }
.cart-item__cell--left { -moz-box-align: center; align-items: center; border-right: 1px solid #f3f4f4; display: flex; padding: 1.25rem; width: 10rem; }
.cart-item__cell--left img {
    margin: 0 auto;
    max-width: 100%;
}
.cart-item__cell--right, .cart-item__sub-cell { display: flex; }
.cart-item__cell--right { -moz-box-direction: normal; -moz-box-flex: 1; -moz-box-orient: vertical; flex: 1 1 0; flex-direction: column; }
.cart-item__sub-cell--top { -moz-box-align: center; align-items: center; display: flex; }
.cart-item__sub-sub-cell--title { -moz-box-flex: 1; flex: 1 1 0; }
.cart-item__sub-sub-cell--price, .cart-item__sub-sub-cell--title { padding: 0.9375rem 1.875rem;font-size:1.5em;  }
.cart-item__heading { color: #1e1f1f; font-size: 1.5rem; margin-bottom: 0.3125rem; }
.cart-item__sub-sub-cell--price { text-align: right; }
.cart-item__sub-sub-cell--price, .cart-item__sub-sub-cell--title { padding: 0.9375rem 1.875rem; }
.cart-item span { display: block; }
.cart-item__price { color: #1e1f1f; font-size: 1.5rem; }
.cart-item__sub-cell--bottom { -moz-box-align: center; -moz-box-flex: 1; align-items: center; background: #fdfdfd none repeat scroll 0 0; border-top: 1px solid #f3f4f4; flex: 1 1 0; }
.cart-item__sub-sub-cell--recipes-edit { border-left: 1px solid #f3f4f4; }
.cart-item__sub-sub-cell--name-adj, .cart-item__sub-sub-cell--recipes-edit { display: flex; padding: 0.9375rem 1.875rem; width: 50%; }
.cart-item__sub-sub-sub-cell--cover, .cart-item__sub-sub-sub-cell--recipes { margin-right: 1.875rem; }
.cart-item a { color: #5a5a5a!important;text-transform: uppercase; }
.cart-item__sub-sub-cell--remove { -moz-box-align: center; -moz-box-flex: 1; align-items: center; border-left: 1px solid #f3f4f4; display: flex; flex: 1 1 0; font-size: 0.6875rem; height: 100%; padding: 0.9375rem 1.875rem; }
.cart-item__sub-sub-cell--remove a { color: #b0b5b8; margin-left: auto; }
a, button, input[type="checkbox"], input[type="radio"], input[type="submit"], label { cursor: pointer; }
.cart-item__sub-sub-cell--remove a { color: #b0b5b8; margin-left: auto; }
.cart-totals { color: #8f9497; float: right; }
.cart-totals { color: #8f9497; margin-bottom: 5px; margin-top: 17px; text-align: right; width: 100%; }
.cart-totals__heading, .cart-totals span { display: inline-block; font-size: 0.8125rem; text-align: right; }
.cart-item__sub-heading.photo { padding-top: 17px; }
.cart-totals__heading { font-weight: 400; width: 15em; }
.cart-totals span.cart-totals__total { color: #1e1f1f; font-size: 1.5rem; }
.cart-totals span { margin-left: 1.875rem; width: 9.375rem; }
.cart-totals__heading, .cart-totals span { display: inline-block; font-size: 1.2rem; text-align: right;color:#1e1f1f; }
.master-cart-footer { margin-top: 1.875rem; text-align: right; }
.shopping-button { animation-delay: 2s; background: #5f478f none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #fff; font-family: "nexa_lightregular"; font-size: 18px; letter-spacing: 1px; padding: 7px 19px; text-align: center; transition: background 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s; white-space: nowrap; border: 3px solid #5f478f; }
.shopping-button:hover { text-decoration: none; background-color: #eeb906; color: #fff; border: 3px solid #eeb906; }
.master-cart-footer .shop-button + .shop-button { margin-left: 0.625rem; }
.fa.fa-microphone.micro { font-size: 18px; }
.shipping-address { border: 1px solid #f3f4f4; border-radius: 7px; margin: 26px auto; }
.cross-icon > a { color: #b0b5b8; }
.cross-icon > a:hover { color: #b0b5b8; text-decoration: none; }
.cross-icon {
  background-color: #fbfbfb;
  font-size: 25px;
  padding: 26px 15px;
  text-align: right;
  width: 100%;
  line-height:3px;
}
.adress-text { padding: 14px; }
.adress-text p { color: #2e3336; font-weight: 500; font-size: 15px; }
.cross-icon > p {
  color: #5d6265;
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}
.cart-item__sub-sub-cell.cart-item__sub-sub-cell--title > p { color: grey;font-size: 1.2em }
.cart-totals.grand { border-bottom: 1px solid #f3f4f4; border-top: 1px solid #f3f4f4; padding: 10px 0; }
/*PAYMENT PAGE*/
.cart-conatiner > p { margin-bottom: 10px; }
a.collapse-link { text-decoration: none; }
.fa.fa-shopping-cart.mycart { padding-right: 10px; }
.sign-up-col.payment { border: medium none; }
.sign-up-col.payment { border: medium none; margin-top: 123px; }
.or-payment { text-align: center; }
.or-payment .or { left: 0; top: 189px; }
.form-control.icon-lock { background: url(../images/lock-icon.png); background-repeat: no-repeat; background-position: right; }
/*.form-control.icon-question-mark {
  background: url(../images/question-mark-icon.png); background-repeat:no-repeat; background-position:right;
}*/
#cvc.fa.fa-question-circle { color: #b1b1b1; float: right; left: -12px; position: relative; top: -35px; }

audio {
        vertical-align: bottom;
        width: 23em;
        font-size: 1.2em;
    }
    video {
        width: 10em !important;
    }
    hr{
      display: none;
    }
.error{
  color: red;
}    

.cart-item__quantity {
    color: #1e1f1f;
    font-size: 1.2em;
}




