.box-simple img,.box-simple h3,.box-simple p{
	cursor: pointer;
}
.overlay {
  background: #000 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: .5;
  display:none;
}
.imageHol {
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 100px;
  margin-top: -100px;
}

.templates_images{
  height:200px;
  width:260px;
  cursor: pointer;
}
.upload_img{
  margin-top: 20px;
}
.show_image {
  height: 478px;
  left: 313px;
  position: absolute;
  top: 15px;
  width: 341px;
}

.simple_images{
  width:1100px;
  height: 1000px;
  position: relative;
  top: 0; 
  left: 0;
}
/*img.show_user_img {
    height: 594px;
    position: absolute;
    right: 464px;
    top: 912px;
    width: 440px;
}
*/
img.show_user_img {
  height: 595px;
  left: 587px;
  position: absolute;
  top: 215px;
  width: 440px;

}

.user_thumb_image {
    height: 114px;
    left: 487px;
    position: absolute;
    top: 543px;
    width: 102px;
}
.user_thumb_image_second {
    height: 114px;
    left: 779px;
    position: absolute;
    top: 543px;
    width: 102px;
}
#upload_final_image > img {
    height: 100%;
    width: 100%;
}
.cropper-container.cropper-bg {
    border: 10px solid #fff;
    box-shadow: 0 1px 3px #c3c3c3;
    margin: 10px auto 30px;
}
.user_upload_image{
  position: absolute;
  height: 714px;
  width: 507px;
  top:0px;
}
.btn.btn-lg.btn-default.record-btn {
    background:#f44236 none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 21px;
    margin: 10px 0 20px;
    padding: 14px 32px;
    text-align: center;
    text-transform: capitalize;
}
.mycol {
    margin-top: 44px;
    padding: 0;
}
  audio {
        vertical-align: bottom;
        width: 23em;
        font-size: 1.2em;
    }
    video {
        width: 10em !important;
    }
    hr{
      display: none;
    }

    .card-orignal-image {
    position: relative;
    text-align: center;
}
   
.user_tepl {
    height: 800px;
    width: 800px;
  }



.card-orignal-image img {
    float: right;
    margin: 0 14px;
}


.user-inner-image {
    height: 373px;
    width: 261px;
}

/*.my-add-audio {
   display: none; 

}*/
.fa.fa-arrow-left.myarrow {
    background-color: #ffc80a;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 7px;
    padding: 8px;
}
label.error {
    color: red;
    font-size: 14px;
    letter-spacing: 1px;
}


@media only screen and (max-width: 1200px) {
  .step-wizard li {
    width: 24%;
  }
}
@media only screen and (max-width: 375px) {
  .step-wizard li {
    width: 22%;
  }
}
.paypal-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  text-align: center;
}


.count-input.space-bottom {
    margin-top: 114px;
}
.images_template{
  padding: 0px;
}

#progress {
    margin: 0px auto;
}

.record-your-voice.recordrtc > audio {
    margin: 20px auto 0;
    width: auto;
}
.month {
    display: inline;
    width: 49%;
}

.btn.btn-lg.btn-default.lead-btn.pull-right.back.pull-left.prev_btn{

}

.overlay {
  background: #000 none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: .5;
  display:none;
}
.imageHol {
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 100px;
  margin-top: -100px;
}


.audio_media {
    clear: both;
    text-align: center;
}

.audio_media audio {
    margin: 0 auto;
    position: relative;
    top: 44px;
    width: 60%;
}

.form-groupp {
    float: right;
}

.form-groupp .btn.btn-default.submit-btn {

    margin: 0;
}


#card_to_receipent_form {
    padding: 5px 15px;
}

#card_to_me_form {  padding: 5px 15px; }

.shipm {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.chackout_page .all-head {
    margin-bottom: 20px;
}

.chackout_page {
    padding: 0 15px;
}

.chackout_page .oor {
    margin: 180px 0;
}

.row.checkout-box {

}

.bbc {
    margin: 10px 0 0;
}

.record-btn.start_stop_btn {
    color: #674a94;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0;
    padding: 16px 30px;
    text-decoration: none;
    text-transform: uppercase;
}




.add-form {
    background: #413a7d none repeat scroll 0 0 !important;
    border: 1px solid #413a7d !important;
	  color: #fff !important;
}

.checkout-box .border {
    margin-top: 50px;
    min-height: 280px;
}

.checkout-box .border .or {
    top: 100px;
}





.chackout_page .master-cart__full {
    background: #fbfbfb none repeat scroll 0 0;
    margin-bottom: 30px;
    padding: 20px;
}


.chackout_page a.collapse-link {
    border-bottom: 1px solid #5c468d;
    color: #5c468d;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.checkout-box .sign-up-col.payment {
    border: medium none;
    margin: 70px 32px 32px;
    width: 240px;
}


.checkout-box .border {
    margin-left: 26px;
    margin-top: 50px;
    min-height: 280px;
}

.ctext {
    color: #1b557d;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;
}

.checkout-box .sign-up-col {
    padding-top: 0;
}






.user_dashboard .photo-frame {
    padding: 20px;
}

.container.user_dashboard {
    width: 1150px !important;
}


.container.user_dashboard .dataTables_wrapper {
    color: #434343;
    font-size: 14px;
}

.container.user_dashboard .btn-primary {
    background-color: #373778;
    border-color: #373778;
    color: #fff;
}
.container.user_dashboard .btn-primary:hover {
    background-color: #eeb906;
	 border-color: #eeb906;

}

.container.user_dashboard .cart-item-center {
    margin: 0 auto;
}

.cart-item-center h4 {
    padding-bottom: 11px;
}

.cart-item-center .cart-item__sub-heading.photo-img {
    text-align: center;
}

.cart-item-center .cart-item__sub-heading.photo-img img {
    border: 1px solid #e3e3e3;
    padding: 5px;
    text-align: center;
}

.cart-item-center .cart-item__sub-heading {
    font-size: 21px;
    margin-bottom: 20px;
    text-align: center;
}



.cart-item-center .audio_recorded {
    font-size: 1.2em;
    vertical-align: bottom;
    width: 300px;
}

.cart-item-center .download_btn {
    color: #674a94 !important;
    display: block;
    font-size: 20px;
    text-align: center;
}




.master-cart-footer .shopping-button.checkout_submit.lead-btn {
    position: relative;
    top: 50px;
    z-index: 999;
}

.month-dropdown {
    width: 49% !important;
    float: left;    
}

.month-dropdown {
 background-color: #f6f7f9 !important;
    border: 1px solid #f6f7f9 !important;
    padding: 13px 20px !important;
}


.video-tutorial-page {
    text-align: center;
}
.video-tutorial-page a.lead-btn {
    background: #eeb906 none repeat scroll 0 0;
    border: 1px solid #eeb906;
    padding: 12px 30px;
    color: #ffffff;    
    letter-spacing: 1px;
    margin-top: 10px;
    text-align: center;
}
.video-tutorial-page a.lead-btn:hover {    
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #674a94;
    color: #674a94; 
}




