/*********** honey sectoin **************/
.border {
    border: 1px solid #535353;
    line-height: 65px;
    min-height: 70px;
    text-align: center;
}
.blue {
    background: #ff017d;
    color: #fff;
}
.gray {
  background: #000 !important;
  color: #fff;
  font-weight: bold;
}
/*.yellow{
    background: #FFFF00;
}*/
.border input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #3b3b3b;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.alert {
  font-size: 18px;
  opacity: 0.8;
  position: fixed;
  width: aoto;
  z-index: 9999;
  top: 79px;
  right: 20px;
  color: #000;
}

ul.bar_tabs {
  height: auto;
}

ul.bar_tabs > li {
  margin-top: 6px;
  margin-bottom: 8px;

}

ul.bar_tabs > li.active {
  margin-top: 7px;
}
  /*********** honey sectoin **************/
  
 .targetMatrix tr {
    height: 50px;
    border: 1px solid #d9d9d9;

  }  
.targetMatrix tr th, .targetMatrix tr td {
  border: 0px solid #6d0438 !important;
  display: table-cell;
  font-size: 15px;
  text-align: center;
  vertical-align: middle !important;}


.label-checkbos, .label-checkbosgrp {
  display: block;
  text-align: center;
  padding: 0;
}
.box-indicadicator .red-bg, .box-indicadicator .green-bg,.box-indicadicator .yellow-bg{
    background: #ccc;
    cursor: pointer;
}
.box-indicadicator .red-bg.active{
    background: #ea4335;
}
.box-indicadicator .green-bg.active{
    background: #fbbc05;
}
.box-indicadicator .yellow-bg.active{
    background: #34a853;
}

.projectTitle {
  color: #505050 !important;
  float: right;
  font-size: 12px;
  text-transform: capitalize;
}

footer {
  padding: 14px 20px !important;
}
.grandTotal td.blue,.Total td.blue, .Hblue {
  background: #191970;
  color: #fff;
}
.hTotal{
  color: #000 !important; 
}
.targetMatrix tr:nth-child(2n) {
  background: #efefef none repeat scroll 0 0;
}
.grandTotal td.yellow {
  box-shadow: 0 -1px 1px !important;
  font-size: 20px;
  color: #272728;
}
td.border:hover {
  box-shadow: 0px 0px 2px #000 ;
}

tr.Total td.border:hover {
    box-shadow: 0px 0px 0px #000 !important;
}

tr.Total td:not(.blue) {
  color: #000;
}

.left_col {
    background: #474788 none repeat scroll 0 0;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
  border-right: 5px solid #6c68aa;
}
.nav.side-menu > li.active > a {
    background: #644992 none repeat scroll 0 0;
}
.nav_title {
    background: #474788 none repeat scroll 0 0;
    border-bottom: 1px solid #575798 !important;
    height: auto;
}
.nav-md ul.nav.child_menu li::after {
  border-left: 1px solid #eeb906;
}
.nav-md ul.nav.child_menu li::before {
  background: #eeb906;
}

.paginate_button:hover {
  cursor: pointer;
}

.img-circle.logo_img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(52, 73, 94, 0.44);
  margin-top: 7px;
  padding: 2px;
  position: inherit;
  width: 34%;
  z-index: 1000;
}

.site_title > span {
    font-size: 22px;
    line-height: 90px;
    margin-left: 17px;
}
.site_title {
    height: auto;
    line-height: 15px;
}


body {
  background: #474788 !important;
}


.dataTables_wrapper {
    clear: both;
    overflow-x: scroll;
    position: relative;
}


.x_title h2 {
    color: #3e3a7c;
    display: block;
    float: left;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 5px 0 6px;
}

.nav-sm .site_title {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-sm .site_title .img-circle.logo_img {
    display: block;
    margin: 4px 8px;
    width: 50px;
}




.x_panel input, select {
    background-color: #fdfdfd;
    border: 1px solid #e6e6e6;
    border-radius: 5px !important;
    box-shadow: none;
    color: #8e99af !important;
    font-size: 15px;
    height: auto;
    padding:10px 15px;
}


#add_user .form-group label {
    margin: 0;
    padding: 12px;
}


#add_user .form-group label + div {
    border-bottom: 1px solid #f3f3f3;
    margin: 0;
    padding: 12px;
}


table.dataTable {
    margin-bottom: 20px;
}

div.dataTables_wrapper div.dataTables_info {
    margin-bottom: 20px;
}

.dataTables_paginate a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.btn-success {
    background: #474788 none repeat scroll 0 0;
    border: 1px solid #474788;
}


