/* Smartphones (portrait and landscape) ----------- */




@media screen and (min-width:1367px) and (max-width:1480px) {
.slide-text {
    margin-top: 90px;
}		
}




@media screen and (min-width: 1281px) and (max-width:1366px) {
.slide-text {
    margin-top: 110px;
}	
	.slide-text > h1 {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 36px;
 
}

.slide-text > p {

    font-size: 17px;
}
	
}




@media screen and (min-width: 1024px) and (max-width:1280px) {

.slide-text > h1 {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 36px;
 
}

.slide-text > p {

    font-size: 17px;
}



/* mac */

.product-listing {
    padding: 30px 0;
}
.container {
    width: 670px !important;
}
.product-listing h1 {
    font-size:24px;
}
.product_text > h1 {
    font-size: 14px;
	 margin-bottom: 0;
    padding-top: 10px;
}

.product_bg {
    margin-bottom: 20px;
    min-height: 270px;
}

#container-wizard {
    min-height: 116px;
}
.step-wizard .progress {
    left: 106px;
    top: 32px;
}

.progress {
    height: 3px;

}


.slide-text {
    margin-top:90px;
}

.step-wizard ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
}
.step-wizard li {
    width: 157px;
}
.step-wizard li .step {
   
    border: 3px solid #e5e6e6;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    line-height: 29px;
    width: 34px;
}
.step-wizard li .title {
    font-size: 12px;
    left: 21px;
    padding-top: 50px;
    width: 100%;
}

.btn.btn-default.mybutton {
    background: #5f478f none repeat scroll 0 0;
    border: 3px solid #5f478f;
    border-radius: 40px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 7px;
    text-shadow: 1px 1px 1px #3f276f;
}

.btn.btn-default.mybutton.selected {
    background: #eeb906 none repeat scroll 0 0;
    border: 3px solid #eeb906;
    border-radius: 40px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 8px;
    text-shadow: 1px 1px 1px #ae7900;
}
.nav.nav-tabs.mytabs {
    margin: 10px auto 50px;
}
.nav-tabs.mytabs > li {
    font-size: 12px;
}
.nav.nav-tabs.mytabs {
    max-width: 555px;
}
.nav-tabs.mytabs > li {
    font-size: 12px;
}
.home-newsletter h4 {
	   font-size:24px;
}
.home-newsletter {
    padding: 3% 15%;
}

.home-newsletter p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 23px;
}
.posted-name {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

#audioplayer {
    height: 30px;
    margin: 0 auto auto;
}

#timeline, #timeline_two, #timeline_three {
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
}

.news-slide {
    padding: 40px 0;
}
.testimonial4_header h4 {
    font-size: 24px;
}
.testimonial4_slide p {
    font-size: 13px;
}
.testimonial-block h3 {
    font-size: 24px;
}
.testimonial-autr {
    padding: 16px 0 16px 16px;
    width: 100%;
}
.testimonial-autr h4 {
    font-size: 18px;
    margin-top: 4px;
}
.testimonial_para {
    color: #636363;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 10px;
}
.testimonial_control {
    min-height: 200px;
    width: 40px;
}

.footer-logo {
    width: 80px;
}

.footer-clum {
    padding: 40px 0 0;
}

.shrink-nav .navbar-brand {
    width: 55px;
}
.shrink-nav .navigation-top ul {
    margin: 10px 0 0;
}


.main-menu .navbar {
    padding: 5px 20%;
}



.card-img {
    height: 350px;
    margin: 0 auto;
    width: 440px;
}

.add-photo-button {
    right: 28px;
    top: 115px;
}

.add-photo-button a.lead-btn {
    padding: 12px 18px;
}

.inner-page-container .step-wizard li {
    width: 109px;
}

.inner-page-container .step-wizard .progress {
    left: 74px;
    position: absolute;
    top: 32px;
    width: 332px;
}

.col-left h1 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 42px;

}

.col-left-img > li {
    height: 106px;
    margin: 10px 0;
    padding: 16px 30px;
}
.mycol {
    margin-top: 29px !important;
    padding: 0 !important;
}

.user-inner-image {
    height: 293px !important;
    width: 203px !important;
}

.card-orignal-image img {
    margin: 0 13px !important;
}

.audio_media {
    clear: both;
}

.audio_media audio {
    left: 8px !important;
    top: 32px !important;
}
.review-text {
    left: 0;
    padding: 9px 10px;
    text-align: left;
    top: -76px;
}


.sign-up-col h1 {
    font-size: 18px;
}
.sign-up-col p {
    font-size: 13px;
    line-height: 20px;
}
.sign-up-col.guest {
    width: 223px;
}

.facebook-login {
    margin: 18px auto 30px;
    text-align: center;
    width: 180px;
}


.mail-card-reciept p {

    font-size: 15px;
}

.mail-card-reciept {

    margin-top: 40px;
    padding: 60px 0;
}
.inner-page-container .step-wizard {
    margin: 0 auto;
    width: 450px;
}

.radio-button {
  
    font-size: 12px;
}
.mail-reciptant.card-to-me {
    font-size: 18px;
}

.mail-reciptant h1 {
    font-size: 17px;
}


.mail-reciptant span {
    color: #f9c105 !important;
    font-size: 22px !important;
}

.checkout-box .sign-up-col.payment {
    border: medium none;
    margin: 110px 32px 32px !important;
    width: 150px !important;
}

.item .thumb {
   
    min-height: 110px;
    padding: 13px;
    width: 111px;
}


.radio-button {
    letter-spacing: unset;
}


.record-your-voice .start_stop_btn {
    width: 120px;
}

.template_sidebar h1 {
    font-size: 16px;
}

#timeline, #timeline_two, #timeline_three, #timeline_audio, #timeline_audios, #timeline_preview {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 15px;
    float: left;
    height: 2px;
    margin-top: 20px;
    width: 100%;
}

.container-fluid.voice2 {
    background: #ffffff url("https://lizicards.com/img/voice-bg-img2.png") no-repeat scroll right center / 660px auto;
}

.home-newsletter {
    padding: 3%;
}

.app-img {
    padding: 36px 20px 0 0;
}

#avatar-modal .modal-dialog {
    top: -2%;
}

.upload-btn-wrapper .btn {
    font-size: 15px;
    padding: 9px 30px;
}






.customize_preview .card-img {
    width:420px;
}
#timeline, #timeline_two, #timeline_three, #timeline_audio, #timeline_audios, #timeline_preview {
    width: 100%;
}
.customize_preview .user-inner-image {
    height: 280px !important;
    width: 193px !important;
}
.customize_preview .mycol {
    margin-top: 36px !important;
}

.customize_preview .audio_media {
    margin-left: 6px;
    margin-right: 20px;
    top: 7px;
}

.playbtn-right.strt-reco.stop-reco {
    width: 98%;  margin-left: 5px;
}
.strt-reco {
    margin-left:27px;
}


.mail-reciptant img {
    vertical-align: sub;

}




@supports (-webkit-appearance:none) {
  .playbtn-right.strt-reco.stop-reco {
    margin: 0;
}  

}




/* mac end */

}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	.container {
    width: auto !important;
}
.main-menu .navbar {
    padding: 10px 7%;
}




/* mac */

.product-listing {
    padding: 30px 0;
}
.container {
    width: 670px !important;
}
.product-listing h1 {
    font-size:24px;
}
.product_text > h1 {
    font-size: 14px;
	 margin-bottom: 0;
    padding-top: 10px;
}

.product_bg {
    margin-bottom: 20px;
    min-height: 270px;
}

#container-wizard {
    min-height: 116px;
}
.step-wizard .progress {
    left: 106px;
    top: 32px;
}

.progress {
    height: 3px;

}


.slide-text {
    margin-top:90px;
}

.step-wizard ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
}
.step-wizard li {
    width: 157px;
}
.step-wizard li .step {
   
    border: 3px solid #e5e6e6;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    line-height: 29px;
    width: 34px;
}
.step-wizard li .title {
    font-size: 12px;
    left: 21px;
    padding-top: 50px;
    width: 100%;
}

.btn.btn-default.mybutton {
    background: #5f478f none repeat scroll 0 0;
    border: 3px solid #5f478f;
    border-radius: 40px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 7px;
    text-shadow: 1px 1px 1px #3f276f;
}

.btn.btn-default.mybutton.selected {
    background: #eeb906 none repeat scroll 0 0;
    border: 3px solid #eeb906;
    border-radius: 40px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 8px;
    text-shadow: 1px 1px 1px #ae7900;
}
.nav.nav-tabs.mytabs {
    margin: 10px auto 50px;
}
.nav-tabs.mytabs > li {
    font-size: 12px;
}
.nav.nav-tabs.mytabs {
    max-width: 555px;
}
.nav-tabs.mytabs > li {
    font-size: 12px;
}
.home-newsletter h4 {
	   font-size:24px;
}
.home-newsletter {
    padding: 3% 15%;
}

.home-newsletter p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 23px;
}
.posted-name {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

#audioplayer {
    height: 30px;
    margin: 0 auto auto;
}

#timeline, #timeline_two, #timeline_three {
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
}

.news-slide {
    padding: 40px 0;
}
.testimonial4_header h4 {
    font-size: 24px;
}
.testimonial4_slide p {
    font-size: 13px;
}
.testimonial-block h3 {
    font-size: 24px;
}
.testimonial-autr {
    padding: 16px 0 16px 16px;
    width: 100%;
}
.testimonial-autr h4 {
    font-size: 18px;
    margin-top: 4px;
}
.testimonial_para {
    color: #636363;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 10px;
}
.testimonial_control {
    min-height: 200px;
    width: 40px;
}

.footer-logo {
    width: 80px;
}

.footer-clum {
    padding: 40px 0 0;
}

.shrink-nav .navbar-brand {
    width: 55px;
}
.shrink-nav .navigation-top ul {
    margin: 10px 0 0;
}


.main-menu .navbar {
    padding: 5px 2%;
}


.card-img {
    height: 350px;
    margin: 0 auto;
    width: 430px;
}

.add-photo-button {
    right: 28px;
    top: 115px;
}

.add-photo-button a.lead-btn {
    padding: 12px 18px;
}


.inner-page-container .step-wizard li {
    width: 109px;
}

.inner-page-container .step-wizard .progress {
    left: 74px;
    position: absolute;
    top: 32px;
    width: 332px;
}

.col-left h1 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 42px;

}

.col-left-img > li {
    height: 106px;
    margin: 10px 0;
    padding: 16px 30px;
}
.mycol {
    margin-top:32px !important;
    padding: 0 !important;
}

.user-inner-image {
    height: 287px !important;
    width: 198px !important;
}

.card-orignal-image img {
    margin: 0 13px !important;
}

.audio_media {
    clear: both;
}

.audio_media audio {
    left: 8px !important;
    top: 32px !important;
}
.review-text {
    left: 0;
    padding: 9px 10px;
    text-align: left;
    top: -76px;
}


.sign-up-col h1 {
    font-size: 18px;
}
.sign-up-col p {
    font-size: 13px;
    line-height: 20px;
}
.sign-up-col.guest {
    width: 223px;
}

.facebook-login {
    margin: 18px auto 30px;
    text-align: center;
    width: 180px;
}


.mail-card-reciept p {

    font-size: 15px;
}

.mail-card-reciept {

    margin-top: 40px;
    padding: 60px 0;
}
.inner-page-container .step-wizard {
    margin: 0 auto;
    width: 450px;
}

.radio-button {
  
    font-size: 12px;
}
.mail-reciptant.card-to-me {
    font-size: 18px;
}

.mail-reciptant h1 {
    font-size: 17px;
}


.mail-reciptant span {
    color: #f9c105 !important;
    font-size: 22px !important;
}

.checkout-box .sign-up-col.payment {
    border: medium none;
    margin: 110px 32px 32px !important;
    width: 150px !important;
}

.item .thumb {
   
    min-height: 110px;
    padding: 13px;
    width: 111px;
}


.radio-button {
    letter-spacing: unset;
}


.record-your-voice .start_stop_btn {
    width: 120px;
}

.template_sidebar h1 {
    font-size: 16px;
}

#timeline, #timeline_two, #timeline_three, #timeline_audio, #timeline_audios, #timeline_preview {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 15px;
    float: left;
    height: 2px;
    margin-top: 20px;
    width: 100%;
}

.container-fluid.voice2 {
    background: #ffffff url("https://lizicards.com/img/voice-bg-img2.png") no-repeat scroll right center / 660px auto;
}

.home-newsletter {
    padding: 3%;
}


.slider-container {
    padding: 50px 4% 0;
}



.slide-text > h1 {
    font-size: 27px;
    line-height: 40px;
    margin-bottom: 20px;
}

.testimonial-block.pull-right {
    margin-top: 50px;
}

.testimonial_control {
    min-height: 200px;
    width: 90px;
}


.app-img {
    padding: 74px 20px 0 0;
}


.strt-reco {
    margin-left: 23px;
}

.playbtn-right.strt-reco {
    margin-left: 5px;
}

.playbtn-right.strt-reco.stop-reco {
    width: 98%;
}

.mail-reciptant img {
    vertical-align: sub;

}



@supports (-webkit-appearance:none) {
  .playbtn-right.strt-reco.stop-reco {
    margin: 0;
}  

}


/* mac end */




}



 @media only screen and (max-width :767px) {
.container {
    width: auto !important;
}
	 
.testimonial-block.pull-right {
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 33px;
}
.testimonial_control {
  background: #5f478f none repeat scroll 0 0;
  border-radius: 10px;
  min-height: 154px;
  padding: 16px;
}
.qto-ico {
  display: none;
}
.testimonial_control {
  background: #5f478f none repeat scroll 0 0;
  border-radius: 10px;
  min-height: 72px;
  padding: 16px;
}
.home-newsletter h4 {
  color: #362842;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 30px;
}
.testimonial4_indicators .carousel-indicators li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin: 0 3px;
  padding: 0;
  text-align: center;
  text-indent: 0;
  width: 200px;
}
.app-img {
  padding: 0 30px 0 0;
  position: relative;
  text-align: center;
  top: 12px;
}

.main-menu .navbar {
    padding: 5px 4%;
}

.navigation-top .navbar-toggle {
    background: #eeb906 none repeat scroll 0 0;
}
.icon-bar {
    background: #fff none repeat scroll 0 0;
    color: #fff;
}
.slide-text {
    margin-top: 90px;
}

.slide-text > h1 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0;
}

.step-wizard li {
    width: 185px;
}

}



/* iPads (portrait and landscape) ----------- */

@media screen and (max-width:736px) {
.navbar-toggle {
    display: none;
}
.slider-container {
    padding:50px 2% 0;
}

.slide-text {
    margin-top: 40px;
}

.scrollto_homedesign {
    margin-top: 10px;
}

.main-menu .navbar-brand {
    width: 50px;
}



.slide-text > h1 {
    font-size: 36px !important;
    line-height: 54px !important;
}

}



@media screen and (max-width:568px) {
.navbar-toggle {
    display: none;
}
.slider-container {
    padding: 90px 2% 0;
}

.slide-text {
    margin-top: 40px;
}

.scrollto_homedesign {
    margin-top: 10px;
}

.main-menu .navbar-brand {
    width: 50px;
}

.slide-text > a.btn-default {
    font-size: 12px;
    padding: 10px 24px;
}

.slide-text > h1 {
    font-size: 26px !important;
    line-height: 34px !important;
}

}




@media screen and (max-width:480px) {
.navbar-toggle {
    display: none;
}
.slider-container {
    padding: 90px 2% 0;
}

.slide-text {
    margin-top: 40px;
}

.scrollto_homedesign {
    margin-top: 10px;
}

.main-menu .navbar-brand {
    width: 50px;
}

.slide-text > a.btn-default {
    font-size: 12px;
    padding: 10px 24px;
}

.slide-text > h1 {
    font-size: 26px !important;
    line-height: 34px !important;
}

}



@media screen and (max-width:320px) {
.navbar-toggle {
    display: none;
}
.slider-container {
    padding: 90px 2% 0;
}

.slide-text {
    margin-top: 0 !important;
}

.scrollto_homedesign {
    margin-top: 10px !important;
}

.main-menu .navbar-brand {
    width: 50px;
}

.slide-text > a.btn-default {
    font-size: 10px !important;
    padding: 8px 12px !important;
}

.slide-text > h1 {
    font-size: 18px !important;
    line-height: 25px !important;
}

}



