html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-family: 'Quicksand', sans-serif; } 
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
*, *:before, *:after { box-sizing: border-box; }
table { border-collapse: collapse; border-spacing: 0; }
img { display: inline-block; border: 0; max-width: 100%; height: auto; vertical-align: middle; }
a, button { transition: all 0.3s ease 0s; }
a:hover, button:hover { transition: all 0.3s ease 0s; }
/* @font-face { font-family: 'nexa_boldregular'; src: url('nexa_bold-webfont.woff2') format('woff2'), url('nexa_bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'nexa_lightregular'; src: url('nexa_light-webfont.woff2') format('woff2'), url('nexa_light-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
  */ 

.main-menu { position: relative; }
.main-menu .navbar { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none rgba(0, 0, 0, 0); /* font-family: 'nexa_boldregular'; */ padding: 10px 20%; transition: all 0.4s ease-in-out 0s; z-index: 999; }
.navigation-top { margin: 0; padding: 25px 0; position: absolute; top: 0; width: 100%; }
.overlay { position: absolute; top: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); }
.navigation-top ul {
    margin: 19px 0 0;
}
.navigation-top ul li { padding: 7px 0; }
.navigation-top ul li a { -webkit-transition: all ease-in-out 0.4s; -moz-transition: all ease-in-out 0.4s; -o-transition: all ease-in-out 0.4s; transition: all ease-in-out 0.4s; color: #999; 
font-size:17px; padding: 8px 20px; }
.navigation-top .nav > li > a:focus, .navigation-top .nav > li > a:hover { background-color: transparent; color: #5f478f; }
.navigation-top ul li a.login-btn { border: 2px solid #5f478f; border-radius: 20px; color: #5f478f; font-size: 17px; padding: 8px 22px; text-transform: uppercase; }
.main-menu .navbar-brand {
    height: auto;
    margin: 0 !important;
    padding: 0;
    width: 70px;
}
.main-menu .navbar-brand>img { height: auto; width: auto; max-width: 100%; }
nav.inner-nav { position: relative; }
.shrink-nav { background: #fff !important; color: #000; padding: 10px 0; position: fixed; top: 0; z-index: 99999; }
.shrink-nav .navbar-nav > li > a { color: #999 !important; }
.shrink-nav .navbar-brand { height: auto; }
.shrink-nav ul li { padding: 6px 0; }
.bs-slider { overflow: hidden; max-height: 1020px; position: relative; }
.bs-slider:hover { cursor: -moz-grab; cursor: -webkit-grab; }
.bs-slider:active { cursor: -moz-grabbing; cursor: -webkit-grabbing; }
.bs-slider .bs-slider-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.40); }
.bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img { margin: auto; width: 100% !important; }
nav.shrink-nav { box-shadow: 1px 3px 10px #dfdfdf; }
/********************
*****Slide effect
**********************/

.slider-text { color: #362842; }
.fade { opacity: 1; }
.fade .item { top: 0; z-index: 1; opacity: 0; width: 100%; position: absolute; left: 0 !important; display: block !important; -webkit-transition: opacity ease-in-out 1s; -moz-transition: opacity ease-in-out 1s; -ms-transition: opacity ease-in-out 1s; -o-transition: opacity ease-in-out 1s; transition: opacity ease-in-out 1s; }
.fade .item:first-child { top: auto; position: relative; }
.fade .item.active { opacity: 1; z-index: 2; -webkit-transition: opacity ease-in-out 1s; -moz-transition: opacity ease-in-out 1s; -ms-transition: opacity ease-in-out 1s; -o-transition: opacity ease-in-out 1s; transition: opacity ease-in-out 1s; }
/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control { top: 47%; opacity: 0; width: 45px; height: 45px; z-index: 100; color: #ffffff; display: block; font-size: 24px; cursor: pointer; overflow: hidden; line-height: 43px; text-shadow: none; position: absolute; font-weight: normal; background: transparent; -webkit-border-radius: 100px; border-radius: 100px; }
.control-round:hover .carousel-control { opacity: 1; }
.control-round .carousel-control.left { left: 1%; }
.control-round .carousel-control.right { right: 1%; }
.control-round .carousel-control.left:hover, .control-round .carousel-control.right:hover { color: #fdfdfd; background: rgba(0, 0, 0, 0.5); border: 0px transparent; }
.control-round .carousel-control.left>span:nth-child(1) { left: 45%; }
.control-round .carousel-control.right>span:nth-child(1) { right: 45%; }
/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators { right: 45%; bottom: 3%; left: auto; width: 90%; height: 20px; font-size: 0; overflow-x: auto; text-align: right; overflow-y: hidden; padding-left: 10px; padding-right: 10px; padding-top: 1px; white-space: nowrap; }
.indicators-line > .carousel-indicators li { padding: 0; width: 15px; height: 15px; border: 1px solid rgb(158, 158, 158); text-indent: 0; overflow: hidden; text-align: left; position: relative; letter-spacing: 1px; background: rgb(158, 158, 158); -webkit-font-smoothing: antialiased; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 5px; -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99); transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99); z-index: 10; cursor: pointer; }
.indicators-line > .carousel-indicators li:last-child { margin-right: 0; }
.indicators-line > .carousel-indicators .active { margin: 1px 5px 1px 1px; box-shadow: 0 0 0 2px #fff; background-color: transparent; position: relative; -webkit-transition: box-shadow 0.3s ease; -moz-transition: box-shadow 0.3s ease; -o-transition: box-shadow 0.3s ease; transition: box-shadow 0.3s ease; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; -o-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
.indicators-line > .carousel-indicators .active:before { transform: scale(0.5); background-color: #fff; content: ""; position: absolute; left: -1px; top: -1px; width: 15px; height: 15px; border-radius: 50%; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; -o-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
/*---------- SLIDE CAPTION ----------*/
.slide_style_left { text-align: left !important; }
.slide_style_right { text-align: right !important; }
.slide_style_center { text-align: left !important; }
.slide-text {
    margin-top:150px;
}
.slide-text > h1 {
    animation-delay: 0.7s;
    color: #373778;
    display: block;
    font-size:36px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 56px;
    margin-bottom:40px;
    padding: 0;
}
.slide-text > p {
    animation-delay: 1.1s;
    color: #362842;
    display: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 0;
}

.slide-text > a.btn-default {
    animation-delay: 2s;
    background: #eeb906 none repeat scroll 0 0;
    border: 1px solid #eeb906;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-align: center;
    white-space: nowrap;
}


.slide-text > a.btn-default:hover { border:1px solid #674a94;  color: #674a94; background:none; }



.slide-text > a.btn-primary { color: #ffffff; cursor: pointer; font-weight: 400; font-size: 13px; line-height: 15px; margin-left: 10px; text-align: center; padding: 17px 30px; white-space: nowrap; letter-spacing: 1px; background: #00bfff; display: inline-block; text-decoration: none; text-transform: uppercase; border: none; }
.slide-text > a:hover, .slide-text > a:active { color: #ffffff; background: #eeb906; }
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

.slider-container { background-color: #f8f8f8; padding:50px 21% 0; }
#bootstrap-touch-slider .carousel-inner { color: #ffffff; margin-top: 80px; padding: 0 10%; }
#bootstrap-touch-slider .carousel-inner .cover-heading { /* font-family: 'nexa_boldregular'; */ font-size: 72px; font-weight: 600 }
#bootstrap-touch-slider .carousel-inner .cover-heading span { /* font-family: 'nexa_boldregular'; */ }
#bootstrap-touch-slider .carousel-inner .lead { font-size: 45px; line-height: 87px; }
.exmp-btn.pull-right > img { margin-right: 10px; vertical-align: top; }
.home-newsletter { padding:7% 15%; }
.right-sps { padding-left: 0; padding-right: 0; }
.home-newsletter h4 {
  color:#363777;
    font-size:28px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.home-newsletter p {
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
}
.border-play { background: #b3b3b3 none repeat scroll 0 0; height: 2px; margin: 10px 0; max-width: 50%; }
.border-play span { background: #896ae4 none repeat scroll 0 0; display: block; height: 3px; max-width: 30%; position: relative; top: -1px; }
.testimonial-block h3 {   color: #363777;
    font-size:28px;

    letter-spacing: 2px; margin-bottom: 20px; /* font-family: 'nexa_boldregular';*/ }
.app-btn { display: inline-block; margin:22px 0 0; width: 130px; }
.app-img {
    padding: 10px 40px 0 0;
    position: relative;
    top: 0;
}
.testimonial_control { background: #4cac36 none repeat scroll 0 0; border-radius: 0 10px 10px 0; padding: 18px; }
.qto-ico { margin-bottom:95px; }
.testimonial_btn { display: inline-block; margin: 5px 0; }
.testimonial-autr { padding:16px; width: 100%; }
.testimonial_subtitle { color: #999999; font-size: 16px; }
.testimonial_btn { }
.clear { clear: both; }
.testimonial_control {
    background: #5f478f none repeat scroll 0 0;
    border-radius: 0 10px 10px 0;
    min-height: 180px;
    padding: 10px;
}
.testimonial_para { color: #636363; font-size: 14px; line-height: 28px; margin-top: 10px; }
.testimonial-block .carousel { border-radius: 10px; box-shadow: 0 0 10px #d3d3d3; }
.footer-clum { background: #242424 none repeat scroll 0 0; padding: 60px 0 0; }
.footer-clum ul { margin-top: 35px; text-align: center; }
.footer-clum ul li { border-right: 1px solid #3d3d3d; display: inline-block; line-height: 30px; padding: 0 19px; }
.footer-clum ul li:last-child { border: none; }
.footer-clum ul li a { color: #a1a1a1; display: block; font-size: 14px; }
.footer-clum ul li a:hover { color: #c1c1c1; }

.copy { color: #b6b6b6; font-size: 12px; padding: 20px 15px; }
.copy a { color: #b6b6b6; font-size: 14px; padding: 20px 15px; }
/* footer social icons */
ul.social-network { border-bottom: 1px dashed; display: block; list-style: outside none none; margin-left: 0; margin-top: 40px; padding-bottom: 17px; }
ul.social-network li { border: medium none; display: inline-block; margin: 0; padding: 0 10px; }
.social-circle li a { border: 1px solid #737373; border-radius: 50%; color: #737373; display: inline-block; font-size: 20px; height: 40px; margin: 0 auto; position: relative; text-align: center; width: 40px; }
.social-circle li i { margin: 0; line-height: 40px; text-align: center; }
.social-circle i { color: #737373; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s; }
.no-mng { margin: 0; padding: 0; }
.nanigation-top .navbar-toggle { border-color: #fff; }
.nanigation-top .navbar-toggle .icon-bar { background: #fff none repeat scroll 0 0; }
.testimonial-autr h4 { color: #40545a; font-size: 20px; margin-top: 16px; }
.scroll-ico { bottom: 220px; height: 100px; position: absolute; text-align: center; width: 100%; z-index: 9999; }
.promotional { background-color: #db4437; text-align: center; padding: 30px 0px }
.promotional h1 { color: #ffffff; font-size: 38px; text-align: center; /* font-family: 'nexa_boldregular'; */ text-shadow: 0px 3px 2px #BB2417; letter-spacing: 3px; }
.promotional span { color: #ffffff; font-size: 28px; text-align: center; /*font-family: 'nexa_lightregular'; */ text-shadow: 0px 3px 2px #BB2417; letter-spacing: 3px; }
.product-listing {
    padding:60px 0;
}
.product_text {
    text-align: center;
}
.page-head {}
.product-listing h1 {
  color: #674a94;
    font-size:28px;
    letter-spacing: 2px;
    margin:0 0 30px;
    text-align: center;
}
.nav.nav-tabs.mytabs { border: medium none;  }
.nav-tabs.mytabs > li.active > a, .nav-tabs.mytabs > li.active > a:focus, .nav-tabs.mytabs > li.active > a:hover {  background-color: #333278; color: #fff; cursor: default;   margin-right: 0px;   border: 1px solid #333278;  font-weight: normal; }
.nav-tabs.mytabs > li {
    float: left;
    font-size: 14px;
    margin: 0 5px;
    text-align: center;
}
.nav-tabs.mytabs > li a {
    border-radius: 0;
    color: #353777;
    margin: 0;
    padding: 9px 18px;
}
.nav-tabs.mytabs > li a:hover {  margin-right: 0px; background-color: #57438a !important; color: #fff; border-radius: 0; border:1px solid #57438a; }
.product_bg {
    margin-bottom: 40px;
    min-height: 340px;
    padding: 5px;
}
.product_text > h1 {
    color: #434343;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 4px;
    margin-top: 10px;
}
.product_text > span {
    border-bottom: 1px solid #d4d4d4;
    color: #434343;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0 20px 3px;
}





h2.price {
    border-top: 1px solid #d3d3d3;
    color: #fd5b4e;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    max-width: 100px;
    padding-top: 8px;
}

.price span { color: #353777; font-weight: 100; font-size: 16px; text-decoration: line-through; /* font-family: 'nexa_lightregular'; */ }
.product_img { position: relative; width: 100%; text-align:center; cursor: pointer; }
.image { opacity: 1; display: block; width: 100%; height: auto; transition: .5s ease; backface-visibility: hidden; }
.middle { transition: .5s ease; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); width: 100%; }
.product_img:hover .image { opacity: 0.1; background-color: #000 !important; }
.product_img:hover .middle { opacity: 1; }
.text { background-color: #4CAF50; color: white; font-size: 16px; padding: 16px 32px; }
.btn.btn-default.mybutton { background: #5f478f none repeat scroll 0 0; border: 3px solid #5f478f; border-radius: 40px; color: #fff; padding: 6px 10px; 
    text-shadow: 1px 1px 1px #3f276f;
    font-weight: 700;
    letter-spacing: 1px;   font-size: 12px; }
.btn.btn-default.mybutton.selected {
    background: #eeb906 none repeat scroll 0 0;
    border: 3px solid #eeb906;
    border-radius: 40px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 10px;
    text-shadow: 1px 1px 1px #ae7900;
}

.header-bg { background: url("https://lizicards.com/img/header-bg.jpg") repeat scroll 0 0 / cover; }
.main-menu .container-fluid { }
.bootstrapWizard { display: block; list-style: none; padding: 0; position: relative; width: 100% }
.bootstrapWizard a:hover, .bootstrapWizard a:active, .bootstrapWizard a:focus { text-decoration: none }
.bootstrapWizard li { display: block; float: left; width: 25%; text-align: center; padding-left: 0 }
.bootstrapWizard li::before { border-top: 15px solid #e6e6e6; content: ""; display: block; font-size: 0; overflow: hidden; position: relative; right: 1px; top: 22px; width: 100%; z-index: 1; }
.bootstrapWizard li:first-child:before { left: 50%; max-width: 50% }
.bootstrapWizard li:last-child:before { max-width: 50%; width: 50% }
.bootstrapWizard li.complete .step { background: #0aa66e; padding: 1px 6px; border: 3px solid #55606E }
.bootstrapWizard li .step i { font-size: 10px; font-weight: 400; position: relative; top: -1.5px }
.bootstrapWizard li .step { background: #B2B5B9; color: #fff; display: inline; font-size: 20px; font-weight: 700; line-height: 12px; padding: 11px 18px; border: 3px solid transparent; border-radius: 50%; line-height: normal; position: relative; text-align: center; z-index: 2; transition: all .1s linear 0s; /* font-family: 'nexa_boldregular'; */ }
.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step { background: #eeb906 none repeat scroll 0 0; border: 3px solid #eeb906; border-radius: 50%; color: #ffffff; font-size: 20px; font-weight: 700; padding: 11px 18px; /* font-family: 'nexa_boldregular'; */ }
.bootstrapWizard li.complete .title, .bootstrapWizard li.active .title { color: #2B3D53 }
.bootstrapWizard li .title { color: #bfbfbf; display: block; font-size: 16px; line-height: 15px; max-width: 100%; position: relative; table-layout: fixed; text-align: center; top: 20px; word-wrap: break-word; z-index: 104 }
.wizard-actions { display: block; list-style: none; padding: 0; position: relative; width: 100% }
.wizard-actions li { display: inline }
.tab-content.transparent { background-color: transparent }
.nav.nav-tabs.mytabs {
    margin: 20px auto 50px;
    max-width: 600px;
    width: 100%;
}
.voice-record { background: #fafafa none repeat scroll 0 0; }
.voice-post { padding: 30px; }

.news-slide {
    background: #fafafa none repeat scroll 0 0;
    display: none;
    padding: 60px 0;
}
#testimonial4 { min-height: 290px; overflow: hidden; position: relative; }
#testimonial4 .carousel-inner { width: 75%; margin: auto; }
#testimonial4 .carousel-inner:hover { cursor: -moz-grab; cursor: -webkit-grab; }
#testimonial4 .carousel-inner:active { cursor: -moz-grabbing; cursor: -webkit-grabbing; }
#testimonial4 .carousel-inner .item { overflow: hidden; }
.testimonial4_indicators .carousel-indicators { left: 0; margin: 0; width: 100%; font-size: 0; padding: 0 5px; cursor: e-resize; overflow-x: hidden; overflow-y: hidden; text-align: center; white-space: nowrap; }
.testimonial4_indicators .carousel-indicators li { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; cursor: pointer; display: inline-block; height: auto; margin: 0 3px; padding: 0; text-align: center; text-indent: 0; width:130px; }
.testimonial4_indicators .carousel-indicators .active { border: medium none; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; margin: 0 3px; padding: 0; }
.testimonial4_indicators .carousel-indicators li img { opacity: 0.4; }
.testimonial4_indicators .carousel-indicators li.active img { opacity: unset; }
 .testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
 height: 3px;
}
.posted-name { font-weight: 600; }
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
 background: #eeeeee;
 -webkit-border-radius: 0;
 border-radius: 0;
}
.close { font-size: 36px; }
.testimonial4_control_button .carousel-control { color: #333; top: 118px; opacity: 1; width: 40px; bottom: auto; height: 40px; font-size: 10px; cursor: pointer; font-weight: 700; overflow: hidden; line-height: 38px; text-shadow: none; text-align: center; position: absolute; background: transparent; border: 2px solid #8a8a8a; text-transform: uppercase; -webkit-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1); transition: all 0.6s cubic-bezier(0.3, 1, 0, 1); }
.testimonial4_control_button .carousel-control.left { left: 7%; right: auto; }
.testimonial4_control_button .carousel-control.right { right: 7%; left: auto; }
.testimonial4_control_button .carousel-control.left:hover, .testimonial4_control_button .carousel-control.right:hover { color: #000; background: #fff; border: 2px solid #333; }
.testimonial4_header { top: 0; left: 0; bottom: 0; width: 550px; display: block; margin: 30px auto; text-align: center; position: relative; }
.testimonial4_header h4 {
    color: #674a94;
    font-size: 28px;
    letter-spacing: 2px;
    position: relative;
}
.testimonial4_slide { border-bottom: 1px solid #d3d3d3; bottom: 0; left: 0; margin: 0 auto; padding-top: 0; position: relative; right: 0; text-align: center; top: 0; width: 90%; }
.testimonial4_slide img { top: 0; left: 0; right: 0; width: 50px; height: 50px; margin: auto; display: block; color: #f2f2f2; font-size: 18px; line-height: 46px; text-align: center; position: relative; }
.testimonial4_slide p {
    color: #636363;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin: 0 0 20px;
    padding: 0 40px;
}
.testimonial4_slide h4 { color: #ffffff; font-size: 24px; font-weight: bold; }
 @media only screen and (max-width: 480px) {
.testimonial4_control_button .carousel-control { display: none; }
.testimonial4_header { width: 95%; }
.testimonial4_header h4 { font-size: 20px; }
.testimonial4_slide { width: 98%; padding: 5px; }
}
 @media (min-width: 481px) and (max-width: 767px) {
.testimonial4_control_button .carousel-control.left { left: 2%; }
.testimonial4_control_button .carousel-control.right { right: 2%; }
.testimonial4_header { width: 95%; }
.testimonial4_slide { width: 98%; padding: 5px; }
}
 @media (min-width: 768px) and (max-width: 991px) {
.testimonial4_control_button .carousel-control.left { left: 5%; }
.testimonial4_control_button .carousel-control.right { right: 5%; }
}
 @-webkit-keyframes psBoxShadowEffect_2 { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
 -webkit-transform: scale(1.5);
 opacity: 0;
}
}
@keyframes psBoxShadowEffect_2 { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
 transform: scale(1.5);
 opacity: 0;
} 
}
.pagination { border-radius: 4px; display: inline-block; margin: 50px 0 60px; padding-left: 0; text-align: center; width: 100%; }
.pagination a { color: #7a7a7a; font-size: 14px; margin: 0 10px 0 25px; }
.pagination a.active { border-bottom: 1px solid #000; color: #000; font-weight: 600; }
.footer-logo {
    text-align: center;
    width:80px;
    margin: 0 auto;
}
.cart {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    box-shadow: 0 1px 1px #cfcfcf;
    color: #636363;
    height: 30px;
    line-height: 15px;
    padding: 6px;
    text-align: center;
    width: 30px;
}
.cart span {
    background: #eeb906 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    padding: 2px;
    position: relative;
    right: -10px;
    text-align: center;
    top: -33px;
    width: 18px;
}

.cart i { font-size:13px; }

.product-detail-expand {
    background-color: #fafafa;
    border: 1px solid #efefef;
    float: left;
    margin-bottom: 24px;
    padding: 0 0 15px;
    width: 100%;
}


.item .thumb {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    float: left;
    min-height: 140px;
    padding: 20px;
    width: 139px;
}
.item .thumb img {
    width: 100%;
}
.item img { width: 100%; }
.product-detail-exp { text-align: left; line-height: 30px; }
.product-detail-exp > h2 {
    color: #444444;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 76%;
}
.product-detail-exp > span {
    color: #db4437;
    font-size: 20px;
    font-weight: bold;
}
.product-detail-exp > h3 { color: #444444; font-size: 16px; font-weight: 100; padding-bottom: 15px; }
.card-details {
    border-top: 1px solid #e8e8e8;
    color: #8d8d8d;
    margin-top: 10px;
    padding-top: 10px;
}
.details-desc p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 23px;
}

.card-details .details-item .details-label.float-left { display: inline-block; margin-right: 20px; width: 126px; }
.card-details .details-item .details-label { color: #000000; display: block; font-weight: 600; line-height: 1.3; color: #444; }
.card-details .details-item .details-desc { overflow: hidden; }
.float-left { float: left; }
.card-details .details-divider { background: #e8e8e8 none repeat scroll 0 0; height: 1px; margin: 20px 0; }
.simple-list li { margin-bottom: 4px; padding-left: 16px; position: relative; }
.simple-list li::before { background: #acacac none repeat scroll 0 0; content: ""; height: 3px; left: 0; position: absolute; top: 15px; width: 3px; }
.product-detail-exp a.lead-btn {
    background: #eeb906 none repeat scroll 0 0;
    border: 1px solid #eeb906;
padding: 7px 30px;
    color: #ffffff;
    float: right;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: center;
}
.product-detail-exp a.lead-btn:hover {    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #674a94;
    color: #674a94; }
.inner { background-color: #ccc; height: 800px; }

/*<!--UPLOAD IMAGE-->*/

.widget-body {
   
}


.details-item.clearfix {
    font-size: 14px;
}

.inner-page-container {
    background-color: #f6f6f6;
    padding:20px 0 50px;
}
.photo-frame {
    background-color: #ffffff;
    box-shadow: 0 0 6px #e3e3e3;
}

.registration_form {
   
}



.fa.fa-arrow-right.myarrow { background-color: #ffc80a; border-radius: 50%; font-size: 14px; margin-left: 7px; padding: 8px; display: none; ; }
.uplaod-card {
    padding:16px 20px;
}
.uplaod-card-text { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #fcfcfc; border-color: #d8d8d8 currentcolor #d8d8d8 #d8d8d8; border-image: none; border-style: solid none solid solid; border-width: 1px medium 1px 1px; min-height: 726px; }
.uplaod-card-img { margin: 0; }
.card-img { background: url(../img/upload-img-text.png) no-repeat scroll center center; }
.myrow { margin: 0px; padding: 0px; }
.uplaod-card-text h1 { background-image: none; margin-top: 288px; text-align: center; width: 100%;  font-size: 43px; font-weight: bold; }
.col-left {

}
.template_sidebar h1 {
    border-bottom: 1px solid #674a94;
    color: #674a94;
    font-size:18px;
    letter-spacing: 1px;
    margin-bottom: 38px;
    padding-bottom: 10px;
}
.fa.fa-info-circle.mycircle { color: #544288; float: right; display: none; }
.col-left-img {
 
    text-align: center;
}
.col-left-img > li {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 6px #e3e3e3;
    height: 140px;
    margin: 10px 0;
    padding: 20px 36px;
}
.select-another-card { 

}
.select-another-card a.lead-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #674a94;
 
    color: #674a94;
    font-size: 13px;
    padding: 12px 40px;
    text-align: center;
}
.select-another-card a.lead-btn:hover {  background: #eeb906 none repeat scroll 0 0;
    border: 1px solid #be8910;
    color: #ffffff;
	}






.fa.fa-arrow-left.myarrow { background-color: #5f478f; border-radius: 50%; color: #ffffff; margin-right: 14px; padding: 8px; display: none; }

.lead-btn {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: unset;
    padding: 12px 30px; 
}

.photo-frame h1 span { color: #646464; font-size: 20px; padding-top: 11px; }
.photo-frame a.lead-btn {
    background: #eeb906 none repeat scroll 0 0;
    border: 1px solid #eeb906;
  
    color: #ffffff;

    text-align: center;
    text-transform: uppercase;

}
.photo-frame a.lead-btn:hover { background:none; border:1px solid  #5C468D;  color: #5C468D; }

.add-photo-button {
    float: right;
    position: absolute;
    right:48px;
    text-align: center;
    top: 165px;
    z-index: 999;
}

.add-photo-button a.lead-btn {
    background: rgba(56, 54, 120, 0.8) none repeat scroll 0 0;
    border: 1px solid #5c468d;

    color: #ffffff;

    text-align: center;
    text-transform: capitalize;
}

.add-photo-button a.lead-btn:hover { background:#5c468d; border:1px solid  #5C468D;  color: #fff; }

.record-your-voice .upload-btn { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; border: medium none; border-radius: 10px; color: #ffffff; /*font-family: "nexa_lightregular"; */ font-size: 21px; margin: 0 auto 20px; padding: 24px 25px; text-align: center; text-transform: capitalize; }
.record-your-voice a.lead-btn { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; border: medium none; border-radius: 10px; color: #ffffff; /*font-family: "nexa_lightregular"; */ font-size: 21px; padding: 24px 32px; text-align: center; text-transform: capitalize; }
.record-your-voice a.lead-btn:hover { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; }
.record-your-voice {
    padding:20px 0;
    text-align: center;
}
.record-your-voice h2 { color: #ffffff; font-size: 21px; font-weight: bold; padding-top: 13px; text-shadow: 1px 1px 1px #818181; }
.recording-bar { margin-top: 65px; }
.recording-buttons { margin-top: 20px; }
.card-orignal-image { float: right; position: relative; }


/*EMAIL & PRINT*/
.sign-up-col {

}
.sign-up-col h1 {
    color: #545454;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 0;
}
.fa.fa-pencil.sign-up-icon {
    border-right: 1px solid #939393;
    color: #57438a;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.sign-up-col input.form-control {
    background-color: #f6f7f9;
    border: 1px solid #f6f7f9;
    border-radius: 5px !important;
    box-shadow: none;
    color: #505b71 !important;
    font-size: 14px;
    height: auto;
    padding: 13px 20px;
}
.form-control::-moz-placeholder {
color: #b4b4b4 !important;
opacity: 1;
}
.form-control:focus { background-color: #fcfdff !important; outline: 0 none; border: 1px solid #e6e7e9 !important; box-shadow: none; }
.sign-up-col p { color: #8c8c8c; font-size:14px; padding-bottom: 20px; }
.btn.btn-default.submit-btn {
    background-color: #eeb906;
    border: medium none;
    color: #ffffff;

	   border: 1px solid #eeb906;
}
.btn.btn-default.submit-btn:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #5c468d;
    color: #5c468d;
}

.already-member {
    display: block;
    text-align: left;
}

.already-member > a {
    color: #868686;
    display: block;
    font-size: 15px;
    text-decoration: underline;
}

.already-member a:hover {   color: #5c468d; }

.facebook-login {
    margin: 13px auto 65px;
    text-align: center;
    width: 230px;
}


.sign-up-col.guest > h1 {
    display: block;
    padding: 7px 0;

}

.sign-up-col.guest > h1 i {
    border-right: 1px solid #939393;
    color: #57438a;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    padding-right: 10px;
}



.sign-up-col.guest {
    float: right;
    width: 306px;
}


.sign-up-block {
    line-height: 19px;
    padding: 0 !important;
    text-align: center;
}



.btn.btn-default.guest-btn { background-color: #5c468d;   border: 1px solid #5c468d; color: #ffffff;  margin-bottom: 19px;  }
.btn.btn-default.guest-btn:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #eeb906;
    color: #f8c35a;
}
/*ADDRESS*/
.mail-card-reciept h1 { color: #f9c105; display: inline; font-size: 70px; font-weight: 100; padding: 0 19px; }
.mail-icon img { display: inline; }
.mail-card-reciept > img { bottom: 18px; position: relative; }
.mail-card-reciept {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    padding: 70px 15px;
}
.mail-card-reciept:hover {  background: #fff none repeat scroll 0 0; }
.mail-card-reciept p {
    color: #404040;
    font-size: 18px;
    letter-spacing: 1px;
}
.mail-card-reciept.me > h1 { color: #604790; }
.mail-reciptant h1 {
    color: #353535;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 60%;
}

.mail-reciptant.card-to-me {
    font-size: 24px;
}

.all-head {
    color: #232323;
    display: inline-block;
    font-size: 22px;
    padding: 0;

}

.mail-reciptant {
    margin-bottom: 30px;
}

.mail-reciptant span {
    color: #f9c105 !important;
    font-size: 32px !important;
}

.mail-reciptant img {
    display: inline-block;
    margin-right: 14px;
    vertical-align: super;
    width: 50px;
}

.mail-reciptant-col input, select.form-control { border: 1px solid #e6e6e6; border-radius: 5px !important; box-shadow: none; font-size: 18px; height: auto; padding:12px 20px; background-color: #fdfdfd; color: #8E99AF !important; font-size: 15px; }
select.form-control { color: #b4b4b4 !important; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/dropdown-arrow.png); background-repeat: no-repeat; background-position: right center; padding-right: 4px; background-color: #fdfdfd; }
.mail-reciptant.card-to-me span { color: #604790 !important; }
.count-input {
    margin: 10px 0 20px;
    max-width: 140px;
    position: relative;
    width: 100%;
}
.count-input input {  font-weight: 600;  width: 100%; height: 50px; border: 1px solid #e6e6e6; border-radius: 2px; background: none; text-align: center; color: #505b71 !important; }
.count-input input:focus { outline: none; }
.count-input .incr-btn {
    color: #674a94 !important;
    display: block;
    font-size: 26px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    right: 6px;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 30px;
}
.count-input .incr-btn:first-child {
    left: 6px;
    right: auto;
    top: 46%;
}
.count-input.count-input-sm { max-width: 125px; }
.count-input.count-input-sm input { height: 36px; }
.count-input.count-input-lg { max-width: 200px; }
.count-input.count-input-lg input { height: 70px; border-radius: 3px; }
.slide-image.second { margin-top: 150px; }
.slide-image.third { margin-top: 8px; }
.slide-image.fourth { margin-top: 14px; }
.carousel-indicators.my li { background-color: rgba(0, 0, 0, 0); border: 1px solid #57438a !important; border-radius: 10px; cursor: pointer; display: inline-block; height:8px; margin:0 1px; text-indent: -999px; width:8px; }
.carousel-indicators.my .active { background-color: #57438a !important; height:8px; margin: 0; width:8px; }
.photo-frame a.lead-btn.back {
    background-color: #fff;
      border: 1px solid #674a94;
      color: #674a94;
	   text-align: center;
}


.fa.fa-arrow-left.myarrow.back { background-color: #686868 !important; font-size: 14px; margin-left: 0; padding: 8px; }
.photo-frame a.lead-btn.back:hover { background: #5C468D;  border: 1px solid #5C468D; color: #ffffff; }
.photo-frame a.back:hover { background: #5C468D; }
.timer {
    clear: both;
    color: #333;
    font-size: 19px;
    margin: 0 auto;
    text-align: left;
    position:absolute;
    top:34px;
}
.fa.fa-clock-o.clock { padding-right: 10px; }
 *SHOPPING CART*/ .cart-conatiner {
width: 75%;
background: #ffffff none repeat scroll 0 0;
border-radius: 7px;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
padding: 2.5rem 1.25rem;
margin: 0px auto;
}

.cart-header {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #edeeee;
    border-radius: 8px 8px 0 0;
    color: #674a94;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 20px;
    text-transform: uppercase;
	border-bottom:none;
}

.master-cart__full {
    color: #535353;
    font-size: 20px;
    margin-top: 30px;
}

.cart-header__cell--item { -moz-box-flex: 1; flex: 1 1 0; }

.cart-item__quantity, .cart-item__price {
    border: 1px solid #dfdfdf;
    font-weight: 600;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
}


.cart-item {

    border: 1px solid #edeeee;
    color: #000;
    display: flex;
    font-size: 0.8125rem;
}
.cart-item__cell--left {  }
.cart-item__cell--left { -moz-box-align: center; align-items: center; border-right: 1px solid #edeeee; display: flex; padding: 1.25rem; width: 10rem; }
.cart-item__cell--left img { margin: 0 auto; }
.cart-item__cell--right, .cart-item__sub-cell {
    display: flex;
    font-size: 20px;
    padding: 10px;
}
.cart-item__cell--right { -moz-box-direction: normal; -moz-box-flex: 1; -moz-box-orient: vertical; flex: 1 1 0; flex-direction: column; }
.cart-item__sub-cell--top { -moz-box-align: center; align-items: center; display: flex; }
.cart-item__sub-sub-cell--title { -moz-box-flex: 1; flex: 1 1 0; }
.cart-item__heading {
    border-bottom: 1px solid #dfdfdf;
    color: #232323;
    margin: 0;
    padding: 5px 10px;
}
.cart-item__sub-sub-cell--price { text-align: right; }
.cart-item__sub-sub-cell--price, .cart-item__sub-sub-cell--title {
    font-size: 17px;
    letter-spacing: 1px;
}
.cart-item span { display: block;      }
.cart-item__price { color: #1e1f1f;  }
.cart-item__sub-cell--bottom { -moz-box-align: center; -moz-box-flex: 1; align-items: center; border-top: 1px solid #e3e4e4; flex: 1 1 0; }
.cart-item__sub-sub-cell--recipes-edit {   }
.cart-item__sub-sub-cell--name-adj, .cart-item__sub-sub-cell--recipes-edit { display: flex; padding: 0.9375rem 1.875rem; width: 50%; }
.cart-item__sub-sub-sub-cell--cover, .cart-item__sub-sub-sub-cell--recipes { margin-right: 1.875rem; }
.cart-item a { color: #02cdcf; }
.cart-item__sub-sub-cell--remove { -moz-box-align: center; -moz-box-flex: 1; align-items: center; border-left: 1px solid #f3f4f4; display: flex; flex: 1 1 0; font-size: 0.6875rem; height: 100%; padding: 0.9375rem 1.875rem; }
.cart-item__sub-sub-cell--remove a { color: #b0b5b8; margin-left: auto; }
a, button, input[type="checkbox"], input[type="radio"], input[type="submit"], label { cursor: pointer; }
.cart-item__sub-sub-cell--remove a { color: #b0b5b8; margin-left: auto; }
.cart-totals { color: #8f9497; float: right; }
.cart-totals { color: #8f9497; margin-bottom: 5px; margin-top: 17px; text-align: right; width: 100%; }
.cart-totals__heading, .cart-totals span { display: inline-block;  text-align: right; }
.cart-item__sub-heading.photo { padding-top: 17px; }
.cart-totals__heading {
  
}
.cart-totals span.cart-totals__total { color: #1e1f1f;   }
.cart-totals span { margin-left: 1.875rem; width: 9.375rem;  }
.cart-totals__heading, .cart-totals span {
    display: inline-block;
    text-align: right;
}
.master-cart-footer { margin-top: 1.875rem; text-align: right; }
.shopping-button {  background: #5f478f none repeat scroll 0 0;  color: #fff; /*font-family: "nexa_lightregular"; */  letter-spacing: 1px;  text-align: center;  border:1px solid #5f478f; }

.shopping-button:hover { text-decoration: none; background:none; color: #eeb906; border:1px solid #eeb906; }
.master-cart-footer .shop-button + .shop-button { margin-left: 0.625rem; }
.fa.fa-microphone.micro { font-size: 18px; }
.shipping-address { border: 1px solid #edeeee; border-radius: 7px; margin: 26px auto; }
.cross-icon > a { color: #b0b5b8; }
.cross-icon > a:hover { color: #b0b5b8; text-decoration: none; }
.cross-icon {
    background-color: #fbfbfb;
    border-bottom: 1px solid #edeeee;
    font-size: 25px;
    padding: 10px 18px;
    width: 100%;
}
.adress-text {
    line-height: 27px;
    padding: 14px 20px;
}
.adress-text p { color: #4e4f4f;  font-size: 15px; }
.cross-icon > p {
    color: #333;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}
.cart-item__sub-sub-cell.cart-item__sub-sub-cell--title > p {
    color: #4e4f4f;
    padding: 5px 10px;
}

.cart-totals__row {
    color: #4e4f4f;
    font-size: 16px;
    line-height: 34px;
}
.cart-totals.grand {
    border-bottom: 1px solid #d3d4d4;
    border-top: 1px solid #d3d4d4;
    font-weight: 600;
    padding: 10px 0;
}
/*PAYMENT PAGE*/
.cart-conatiner > p { margin-bottom: 10px; }
a.collapse-link { text-decoration: none; }
.fa.fa-shopping-cart.mycart { padding-right: 10px; }
.sign-up-col.payment { border: medium none; }
.sign-up-col.payment {
    border: medium none;
    margin-top: 181px;
}
.or-payment { text-align: center; }
.or-payment .or { left: 0; top: 189px; }
.form-control.icon-lock { background: url(../images/lock-icon.png); background-repeat: no-repeat; background-position: right; }
/*.form-control.icon-question-mark {
  background: url(../images/question-mark-icon.png); background-repeat:no-repeat; background-position:right;
}*/
#cvc.fa.fa-question-circle { color: #b1b1b1; float: right; left: -12px; position: relative; top: -35px; }
/* 21-9-2017 modal */
 
 
 /* Effect 11: Super scaled */
.md-effect-11 .md-content { -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); transform: scale(2); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.md-show.md-effect-11 .md-content { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }
.template_sidebar {
    margin-top: 44px;
}
.slide-text > a.btn-default .fa-long-arrow-right { display: none; }
.modal-backdrop.in { background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; position: fixed; opacity: unset; z-index: 9999; }
#avatar-modal { z-index: 99999; }
#avatar-modal .modal { padding-right: 0px; background-color: rgba(4, 4, 4, 0.8); }
#avatar-modal .modal-dialog { top:10%; }
.avatar-upload { text-align: center; }
.avatar-upload input[type="file"] { display: inline; }
.cus-Support2 {
    padding: 80px 0 60px;
}


 /* container-wizard  */
 
 
 
#container-wizard {
    min-height: 116px;
    position: relative;
    text-align: center;
  
}


.progress {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height:5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.step-wizard {
    margin: 0 auto;
    position: relative;
  
}

.step-wizard .progress {
    left: 126px;
    position: absolute;
    top: 34px;
    width: 70%;
}




.step-wizard .progressbar {
  position: absolute;
  background-color: #EEB906;
  opacity: 0.7;
  height: 12px;
  border: 1px solid e5e6e6;
  width: 0%;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.step-wizard .progressbar.empty {
    background-color: #e5e6e6;
    opacity: 1;
    width: 100%;
}
.step-wizard ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
  
}


.step-wizard li {
    display: inline-block;
    text-align: center;
    width: 196px;
}



.step-wizard li .step {
    background: #ffffff none repeat scroll 0 0;
    border: 4px solid #e5e6e6;
    border-radius: 50%;
    display: inline-block;
    font-weight: 600;
    height: 40px;
    line-height: 33px;
    position: absolute;
    width: 40px;
  -webkit-transition: background-color 0.6s ease, border-color 0.6s ease;
  -o-transition: background-color 0.6s ease, border-color 0.6s ease;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}




.step-wizard li .title {
    color: #656565;
    font-size: 13px;
    left: 21px;
    padding-top: 50px;
    position: absolute;
    transition: color 0.6s ease 0s;
    width: 100%;
}





.step-wizard li.active .step {
  border-color: #0aa89e;
}
.step-wizard li.active .title {
  color: black;
}
.step-wizard li.done .step {
  color: white;
  background-color: #0aa89e;
  border-color: #0aa89e;
}
.step-wizard li > a {
    color: black;
    cursor: default;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}



.step-wizard li.active .step {
  border-color: #EEB906;
}

.step-wizard li.done .step {
  background-color: #EEB906;
  border-color:#EEB906;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 375px) {

}




/*
.progress { background-color: #f5f5f5; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; height: 13px; margin-bottom: 20px; overflow: hidden; }
.step-wizard .progress { left: 12.5%; position: absolute; top: 36px; width: 75%; }
.step-wizard .progressbar { position: absolute; background-color: #EEB906; opacity: 0.7; height: 12px; border: 1px solid e5e6e6; width: 0%; -webkit-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; }
.step-wizard .progressbar.empty { opacity: 1; width: 100%; background-color: #e5e6e6; }
.step-wizard ul { position: absolute; width: 100%; list-style-type: none; padding: 0; left: -2%; }
.step-wizard li { display: inline-block; text-align: center; width: 24.5%; }
.step-wizard li .step { position: absolute; display: inline-block; line-height: 43px; width: 50px; height: 50px; border-radius: 50%; border: 4px solid; border-color: #e5e6e6; background: #ffffff; -webkit-transition: background-color 0.6s ease, border-color 0.6s ease; -o-transition: background-color 0.6s ease, border-color 0.6s ease; transition: background-color 0.6s ease, border-color 0.6s ease; }
.step-wizard li .title { position: absolute; width: 100%; left: 20px; padding-top: 60px;  -webkit-transition: color 0.6s ease; -o-transition: color 0.6s ease; transition: color 0.6s ease; }
.step-wizard li.active .step { border-color: #0aa89e; }
.step-wizard li.active .title { color: black; }
.step-wizard li.done .step { color: white; background-color: #0aa89e; border-color: #0aa89e; }
.step-wizard li #step1, #step2, #step3, #step4 { display: block; width: 100%; color: black; position: relative; text-align: center; }
.step-wizard li > a:hover .step { border-color: #EEB906; }
.step-wizard li > a:hover .title { color: black; }
.step-wizard li.active .step { border-color: #EEB906; }
.step-wizard li.done .step { background-color: #EEB906; border-color: #EEB906; color: #ffffff; }
@media only screen and (max-width: 1200px) {
.step-wizard li { width: 24%; }
}
@media only screen and (max-width: 375px) {
.step-wizard li { width: 22%; }
}
 */
 
/*VOICE*/
.container-fluid.voice1 { background: #f4f4f4 url(https://lizicards.com/img/voice-bg-img1.png); background-position: right center; background-repeat: no-repeat; }
.container-fluid.voice { background: #f4f4f4 url(https://lizicards.com/img/voice-bg-img.png); background-position: right center; background-repeat: no-repeat; }
.container-fluid.voice2 { background: #ffffff url(https://lizicards.com/img/voice-bg-img2.png); background-position: right center; background-repeat: no-repeat; }
.container-fluid.voice3 { background: #f4f4f4 url(https://lizicards.com/img/voice-bg-img3.png); background-position: right center; background-repeat: no-repeat; }
.play-dot { background: #333278 none repeat scroll 0 0 !important; border-radius: 50%; height: 10px !important; position: relative; top: -4px !important; width: 10px !important; }
.voice-post { background-color:#fafafa; margin-bottom: 17px; padding:20px; }
.home-newsletter a.lead-btn {
    background: #eeb906 none repeat scroll 0 0;
    border:1px solid #eeb906;

    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 26px !important;
    text-align: center;
}

.home-newsletter a.lead-btn:hover { border:1px solid #674a94;  color: #674a94; background:none; }	
	
.voice-record { background: none !important; }
/*TTHNKU PAGE*/
.cart-conatiner h6 { font-size: 33px; text-align: center; }
ul.social-links { display: block; list-style: outside none none; margin-left: 0; margin-top: 40px; padding: 0; }
ul.social-links li { display: inline; margin: 0 4px; }
.links ul li a { color: rgb(102, 102, 102); font-size: 15px; }
.social-circle-links li a { /*background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(60, 56, 122) 0%, rgb(98, 72, 145) 100%) repeat scroll 0 0;*/ display: inline-block; font-size: 20px; margin: 0 auto; position: relative; text-align: center; min-width: 170px; border-radius: 10px; border: 1px solid #3F397C; }
.social-circle-links li i { margin: 0; padding: 30px 0px; text-align: center; }
.social-links a.icoRss:hover i, .social-links a.icoFacebook:hover i, .social-links a.icoTwitter:hover i, .social-links a.icoGoogle:hover i, .social-links a.icoVimeo:hover i, .social-links a.icoLinkedin:hover i { color: #535353; }
.social-circle-links li a:hover i, .triggeredHover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms--transform: rotate(360deg); transform: rotate(360deg); -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s; color: #3F397C; }
.social-circle-links i { color: #3F397C; font-size: 57px; transition: all 0.8s ease 0s; }
.links { margin: 0 auto; text-align: center; }
.links h6 { font-size: 20px; margin-top: 46px; text-align: center; }
.thanku-buttons { margin: 0px auto; text-align: center; margin-top: 94px; }
.fa.fa-facebook.thanku { background-color: #ffffff; border-radius: 50%; color: #5c458d; left: -14px; padding: 7px 10px; position: relative; top: 2px; }
.shopping-button.thanku { padding: 8px 27px; }
.radio-button { color: #454542; line-height: 37px; }

.shipping-text { line-height: 37px; }
.radio-button {
    color: #434343;
    font-size: 14px;
    line-height: 37px;
}
.radio-button > strong{ font-weight: bold !important; color: #434343; }

/*12-Oct-2017*/
.modal-header.upload-photo-popup {
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    color: #636363;
    font-size: 20px;
    font-weight: bold;
    padding: 13px;
    text-align: center;
}
#avatar-modal .modal-body {
    background: #f2f2f2 none repeat scroll 0 0;
}
.modal-header.upload-photo-popup .close {
    color: #b3b3b3;
    font-size: 30px;
    font-weight: normal;
}

.close.my-close { color: #fff; opacity: 0.8; }
.rotate-button { background-color: #5A458C; border:1px solid #5A458C; border-radius: 40px; padding: 10px 20px; }
.rotate-button:hover { background:none; border:1px solid #eeb906; color:#eeb906;  }
.done-button { background-color: #eeb906; border:1px solid #eeb906; border-radius: 40px; padding: 10px 20px; }
.done-button:hover { background: none; border:1px solid #5A458C; color:#5A458C;  border-radius: 40px; padding: 10px 20px; }

.avatar-btns .btn-group i {
    margin-right: 4px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer !important;
    opacity: 0;
    filter: alpha(opacity=0);
}

.avatar-form input[type="button" i], .avatar-form input[type="submit" i], .avatar-form input[type="reset" i], .avatar-form input[type="file" i]::-webkit-file-upload-button, .avatar-form button { cursor: pointer !important;}

#audioplayer {
  float: left;
  height:40px;
  margin: 0 auto auto;
  text-align: left;
  width: 100%;
}

#pButton,#pButton_two,#pButton_three,#pButton_audio,#pButton_audios,#pButton_preview {
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
 /* background-size: 50% 50%;*/
  border: 2px solid #3C387A;
  border-radius: 50%;
  float: left;
  height: 40px;
  outline: medium none;
  width: 40px;
}

.play{background: url(../img/play-icon.png);}
.pause{background: url(../img/pause-icon.png) ;}

#timeline,#timeline_two,#timeline_three,#timeline_audio,#timeline_audio_without_play,#timeline_audios,#timeline_preview{
	width: 400px;
	height: 2px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
	
  
}
#playhead,#playhead_two,#playhead_three,#playhead_audio,#playhead_audio_without_play,#playhead_audios,#playhead_preview {
  background: #3C387A none repeat scroll 0 0;
  border-radius: 50%;
  height: 10px;
  margin-top: -4px;
  width: 10px;
}

a.paginate_button {
    border: 1px solid #eeb906;
    color: #eeb906;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 4px 0 0;
    padding: 8px 11px;
}


.dataTables_info {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}


.dataTables_length {
    float: left;
    font-size: 17px;
    margin: 20px 0;
}

.dataTables_filter {
    float: right;
	    font-size: 17px;
    margin: 20px 0;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 6px 0 0px 0;
}

.upload-btn-wrapper .btn {
    background-color: #5f478f;
    border: medium none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 16px 40px;
}

.upload-btn-wrapper .btn:hover {
    background-color: #eeb906;
    color: #fff;

}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;  cursor: pointer;
}

a {
    outline: none !important;
}
button {
    outline: none !important;
}


.review-text {
    color: #674a94;
    font-size: 18px;
    left: 38px;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 10px 20px;
    position: absolute;
    text-shadow: 1px 1px 1px #fff;
    top: -69px;
}

.review-text span {
    display: block;
    font-size: 20px;
    font-weight: 600;
}

/*CONTACT US*/
.get-in-touch input, select.form-control { border: 1px solid #e6e6e6; border-radius: 5px !important; box-shadow: none; font-size: 18px; height: auto; padding: 15px 20px; background-color: #fdfdfd; color: #8E99AF !important; font-size: 15px; }
.get-in-touch h4 {
    color: #373778;
    font-size: 27px;
    letter-spacing: 1px;
}

.get-in-touch p {
    color: #636363;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 14px;
    margin-top: 4px;
}

.get-in-touch textarea, select.form-control { border: 1px solid #e6e6e6; border-radius: 5px !important; box-shadow: none; font-size: 18px; height: auto; padding: 12px 20px; background-color: #fdfdfd; color: #8E99AF !important; font-size: 15px; width:100%; }
.get-in-touch.right-side {
    background: #fdfdfd none repeat scroll 0 0;
    border-left: 20px solid #ededed;
    margin-top: 94px;
    padding: 24px 0px;
}

.get-in-touch.right-side .address {
   margin: 26px;
}
.get-in-touch h3{font-size:22px; }




.address p {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 5px;
}
.address h6 {
    color: #636363;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 14px;
    margin-top: 4px;
}

.address {
    margin-top: 30px;
}

.address h3 {
    color: #564862;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    margin-top: 4px;
}
.address h3 i {
    color: #373778;
    margin-right: 7px;
}

.basic-page__body {
    max-width: 60rem;
    margin: 0 auto;
	
}
.basic-page__body p, ol {
    color: #636363;
    font-size: 16px;
    line-height: 25px;
    margin-top: 1.4rem;
}

.basic-page__body p b {
    font-size: 18px;
    font-weight: 600;
}




.basic-page__body h1 {
    border-bottom: 1px solid #e4e4e4;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}


.basic-page__body ul {
 padding-left: 20px;
}

.basic-page__body ul li {
    color: #636363;
    font-size: 15px;
    line-height: 24px;
    list-style: outside none disc;
    margin-left: 30px;
    margin-top: 12px;
    padding-left: 10px;
}

.basic-page__body ul li strong { font-weight:600; }





.post-3292 {   max-width: 60rem;
    margin: 0 auto;}
	
	.post-3292 p {  
    margin-top: 1.4rem;
    line-height: 24px;}
	
	
.post-3292 p strong { 
    font-size: 22px;
	font-weight:bold;
}



.sending_type {
    padding: 3px 0;
}

.show_line {
    height: 1px;
    background: #AFAFAF;
    border: none;
    margin: 40px 0;
}


.next_btn {
    margin-right: 20px;
    margin-top: 20px;
}

.active > a {
    font-weight: bold;
}






/* Button 1a */


.nav-tabs.mytabs > li a:hover,
.nav-tabs.mytabs > li a:active {
	color: #ffffff;
	background: #fff;
}

.nav-tabs.mytabs > li a {
	 border: 1px solid #e3e3e3;
	 border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-tabs.mytabs > li a:after {
	/* content: '';
	position: absolute;
	z-index: -1; */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
} 



/* size */

.container {
    width: 840px !important;
}




.card-img {
    height: 460px;
    margin: 0 auto;
    width: 559px;
}





.inner-page-container .step-wizard {
    margin: 0 auto;
    width:600px;
}

.inner-page-container .step-wizard .progress {
    left: 94px;
    position: absolute;
    top: 34px;
    width: 422px;
}


.inner-page-container .step-wizard li {
    display: inline-block;
    text-align: center;
    width: 142px;
}







.border {
    background: #e3e3e3 none repeat scroll 0 0;
    float: left;
    margin: 0 10px;
    min-height: 470px;
    width: 1px;
}


.border .or {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    color: #7d7d7d;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    left: -25px;
    line-height: 43px;
    margin: 10px auto;
    padding: 4px;
    position: relative;
    text-align: center;
    top: 20px;
    width: 50px;
}



.oor {
    background: #efefef none repeat scroll 0 0;
    margin: 0 auto;
    min-height: 290px;
    width: 1px;
}


.oor .or {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    color: #7d7d7d;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    left: -25px;
    line-height: 43px;
    margin: 10px auto;
    padding: 4px;
    position: relative;
    text-align: center;
    top: 110px;
    width: 50px;
}



.row.spas {
    padding-top: 10px;
}


.shrink-nav .navbar-brand {
    width:55px;
}
.shrink-nav .navigation-top ul {
    margin: 8px 0 0;
}


.sign-up-col {
    padding-top: 20px;
}



.cart-conatiner {
    padding:0px 15px;
}


.product-detail-expand .cross-icon {
    border: medium none;
    text-align: right;
}

.product-detail-expand .cross-icon a.lead-btn {
    float: none;
    margin: 0 0 10px;
}

.show_browser_link { display:none; }

.show_browser_link {
    border: 14px solid #f3f3f3;
    clear: both;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
    top: 20px;
}

.show_browser_link .container-link-btn {
    /*background-color: #5c468d;
    border: 1px solid #5c468d;*/
    color: #ffffff;
    display: inline-block;
    font-size:26px;
    margin: 20px 0;
    padding: 16px 40px;
}



.all-head i {
    margin-right: 7px;
}

.contact-conatiner {
    margin: 40px 0 0;
}


.add-form {
    background: #413a7d none repeat scroll 0 0 !important;
    border: 1px solid #413a7d !important;
    border-radius: 40px;
    float: right;
    padding: 10px 20px;
}






.record-your-voice .start_stop_btn {
    cursor: pointer;
    width: 150px;
}
.record-your-voice .start_stop_btn:hover {
    opacity: 0.8;
}

.record-your-voice .record-btn_text {
    display: block;
    font-size: 19px;
    padding: 26px 0 0;
}

.record-your-voice .voice-post {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0 10px;
    padding: 0 10px;
}

.playbtn-left {
    float: left;
    margin-left: 20px;
    width: 8%;
}
.playbtn-right {
    float: left;
    margin-left: 25px;
    position: relative;
    width: 80%;
}
.playbtn-right.strt-reco.stop-reco {
    width: 76%; margin-left: 70px;
}
.strt-reco {
    margin-left:90px; 
}
.play_pause_btn_preview {
    font-size: 14px;
}

.record-your-voice .col-md-2.playbtn-left button#pButton_audio {
    margin: 0 auto 0 6px;
}

.uplaod-card-img .audio_media {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: 18px;
}


.address.contact-text {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 6px #e3e3e3;
    padding: 20px;
}
.select-another-card {
    bottom: 0;
    position: absolute;
    width: 88%;
}









.customize_preview .card-img {
    width: 500px;
}
#timeline, #timeline_two, #timeline_three, #timeline_audio, #timeline_audios, #timeline_preview {
    width: 100%;
}
.customize_preview .user-inner-image {
    height: 334px;
    width: 232px;
}
.customize_preview .mycol {
    margin-top: 64px;
}

.customize_preview .audio_media {
    top:0px;
}




/*  

.avatar-wrapper {
    width: 100%;
}

.avatar-wrapper .cropper-container.cropper-bg {
    height: 410px !important;
    position: relative;
    width: 390px !important;
}

.cropper-crop-box {
    left: -90px !important;
    top: -20px !important;
}


*/




@supports (-webkit-appearance:none) {
    .play_pause_btn_audio,.play_pause_btn_preview,.play_pause_btn_audios { text-align: center; display: block; } 
    .playbtn-right {
    width: 100%;
   
}



button#pButton_audio {
    margin: 0 auto;
    float: none;
}
button#pButton_preview {
    float: none;
}
#pButton_audios {   
    float: none; }

.customize_preview .audio_media {
    top: 16px;
}

.play_pause_btn_preview {
        margin-top: 5px !important;
}
.playbtn-right.strt-reco.stop-reco {
    width: 76%;
    margin-left: 70px;
}
span.play_pause_btn_audio, span.play_pause_btn_audios, span.play_pause_btn_preview {
    margin-right: 52px;
}


}

#cspio-socialprofiles {
    padding-top: 30px;
    color: #393979;
    border-top: 1px solid #D3D3D3;
    margin-top: 20px;
}

#cspio-socialprofiles i {
  color: #393979;
}
#cspio-socialprofiles a {
      color: #ffffff;
      display: inline-block;
    padding-right: 7px;
    }

 .browser_text {
    margin-top: 50px;
}   

.browser_text.browser_text_data {
    margin: 0  !important;
}

.row.copy {
    text-align: center;
}

.watch_video{border:1px solid #674a94 !important;  color: #fff !important; background-color:#674a94 !important; margin-top:10px; padding:12px 35px;}

.btn.btn-lg.btn-default.lead-btn.watch_video:hover{ border:1px solid #674a94 !important;  color: #674a94 !important; background:none !important; }

