html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {  font-family: 'nexa_lightregular';  }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
*, *:before, *:after { box-sizing: border-box; }
table { border-collapse: collapse; border-spacing: 0; }
img { display: inline-block; border: 0; max-width: 100%; height: auto; vertical-align: middle; }

@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_bold-webfont.woff2') format('woff2'),
         url('nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_light-webfont.woff2') format('woff2'),
         url('nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* page style */

.main-menu { position: relative; }
.main-menu .navbar { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none rgba(0, 0, 0, 0); font-family: 'nexa_boldregular'; padding: 10px 10%; transition: all 0.4s ease-in-out 0s; }
.navigation-top { margin: 0; padding: 25px 0; position: absolute; top: 0; width: 100%; }
.overlay { position: absolute; top: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); }
.navigation-top ul { margin-top: 20px; }
.navigation-top ul li { padding: 7px 0; }
.navigation-top ul li a { -webkit-transition: all ease-in-out 0.4s; -moz-transition: all ease-in-out 0.4s; -o-transition: all ease-in-out 0.4s; transition: all ease-in-out 0.4s; color: #999; font-size: 20px; padding: 8px 20px; }
.navigation-top .nav > li > a:focus, .navigation-top .nav > li > a:hover { background-color: transparent; color: #5f478f; }
.navigation-top ul li a.login-btn { border: 2px solid #5f478f; border-radius: 20px; color: #5f478f; font-size: 17px; padding: 8px 22px; text-transform: uppercase; }
.main-menu .navbar-brand { height: auto; margin-left: 15px; padding: 0; width: 110px; }
.main-menu .navbar-brand>img { height: auto; width: auto; max-width: 100%; }
nav.inner-nav {  position: relative;}
.shrink-nav { background: #fff !important; color: #000; padding: 10px 0; position: fixed; top: 0; z-index: 99999; }

.shrink-nav .navbar-nav > li > a { color: #999 !important; }
.shrink-nav .navbar-brand { height: auto; width: 90px; }
.shrink-nav ul li { padding: 6px 0; }
.bs-slider { overflow: hidden; max-height: 1020px; position: relative; }
.bs-slider:hover { cursor: -moz-grab; cursor: -webkit-grab; }
.bs-slider:active { cursor: -moz-grabbing; cursor: -webkit-grabbing; }
.bs-slider .bs-slider-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.40); }
.bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img { margin: auto; width: 100% !important; }
nav.shrink-nav { box-shadow: 1px 3px 10px #dfdfdf; }
/********************
*****Slide effect
**********************/

.slider-text { color: #362842; }
.fade { opacity: 1; }
.fade .item { top: 0; z-index: 1; opacity: 0; width: 100%; position: absolute; left: 0 !important; display: block !important; -webkit-transition: opacity ease-in-out 1s; -moz-transition: opacity ease-in-out 1s; -ms-transition: opacity ease-in-out 1s; -o-transition: opacity ease-in-out 1s; transition: opacity ease-in-out 1s; }
.fade .item:first-child { top: auto; position: relative; }
.fade .item.active { opacity: 1; z-index: 2; -webkit-transition: opacity ease-in-out 1s; -moz-transition: opacity ease-in-out 1s; -ms-transition: opacity ease-in-out 1s; -o-transition: opacity ease-in-out 1s; transition: opacity ease-in-out 1s; }
/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control { top: 47%; opacity: 0; width: 45px; height: 45px; z-index: 100; color: #ffffff; display: block; font-size: 24px; cursor: pointer; overflow: hidden; line-height: 43px; text-shadow: none; position: absolute; font-weight: normal; background: transparent; -webkit-border-radius: 100px; border-radius: 100px; }
.control-round:hover .carousel-control { opacity: 1; }
.control-round .carousel-control.left { left: 1%; }
.control-round .carousel-control.right { right: 1%; }
.control-round .carousel-control.left:hover, .control-round .carousel-control.right:hover { color: #fdfdfd; background: rgba(0, 0, 0, 0.5); border: 0px transparent; }
.control-round .carousel-control.left>span:nth-child(1) { left: 45%; }
.control-round .carousel-control.right>span:nth-child(1) { right: 45%; }
/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators { right: 45%; bottom: 3%; left: auto; width: 90%; height: 20px; font-size: 0; overflow-x: auto; text-align: right; overflow-y: hidden; padding-left: 10px; padding-right: 10px; padding-top: 1px; white-space: nowrap; }
.indicators-line > .carousel-indicators li { padding: 0; width: 15px; height: 15px; border: 1px solid rgb(158, 158, 158); text-indent: 0; overflow: hidden; text-align: left; position: relative; letter-spacing: 1px; background: rgb(158, 158, 158); -webkit-font-smoothing: antialiased; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 5px; -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99); transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99); z-index: 10; cursor: pointer; }
.indicators-line > .carousel-indicators li:last-child { margin-right: 0; }
.indicators-line > .carousel-indicators .active { margin: 1px 5px 1px 1px; box-shadow: 0 0 0 2px #fff; background-color: transparent; position: relative; -webkit-transition: box-shadow 0.3s ease; -moz-transition: box-shadow 0.3s ease; -o-transition: box-shadow 0.3s ease; transition: box-shadow 0.3s ease; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; -o-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
.indicators-line > .carousel-indicators .active:before { transform: scale(0.5); background-color: #fff; content: ""; position: absolute; left: -1px; top: -1px; width: 15px; height: 15px; border-radius: 50%; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; -o-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
/*---------- SLIDE CAPTION ----------*/
.slide_style_left { text-align: left !important; }
.slide_style_right { text-align: right !important; }
.slide_style_center { text-align: left !important; }
.slide-text { margin-top: 270px; }
.slide-text > h1 { padding: 0; color: #362842; font-size: 70px; font-style: normal; line-height: 84px; letter-spacing: 1px; display: inline-block; -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.slide-text > p { animation-delay: 1.1s; color: #362842; font-size: 20px; font-weight: 300; letter-spacing: 1px; margin-bottom: 40px; padding: 0; }
.slide-text > a.btn-default { background: #eeb906; border-radius: 50px; color: #fff; font-family: 'nexa_lightregular'; font-size: 20px; padding: 15px 40px; text-align: center; white-space: nowrap; letter-spacing: 1px; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; border: none; }
.slide-text > a.btn-primary { color: #ffffff; cursor: pointer; font-weight: 400; font-size: 13px; line-height: 15px; margin-left: 10px; text-align: center; padding: 17px 30px; white-space: nowrap; letter-spacing: 1px; background: #00bfff; display: inline-block; text-decoration: none; text-transform: uppercase; border: none; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; }
.slide-text > a:hover, .slide-text > a:active { color: #ffffff; background: #eeb906; -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out; transition: background 0.5s ease-in-out, color 0.5s ease-in-out; }
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/


#bootstrap-touch-slider .carousel-inner { color: #ffffff; margin-top: 80px; padding: 0 10%; }
#bootstrap-touch-slider .carousel-inner .cover-heading { font-family: 'nexa_boldregular'; font-size: 72px; font-weight: 600 }
#bootstrap-touch-slider .carousel-inner .cover-heading span { font-family: 'nexa_boldregular'; }
#bootstrap-touch-slider .carousel-inner .lead { font-size: 45px; line-height: 87px; }
.exmp-btn.pull-right > img { margin-right: 10px; vertical-align: top; }
.home-newsletter { padding: 5%; }
.right-sps { padding-left: 0; padding-right: 0; }
.home-newsletter h4 { color: #362842; font-size: 38px; font-weight: 600; margin-bottom: 30px; font-family: 'nexa_boldregular'; }
.home-newsletter p { color: #737373; line-height: 24px; }
.border-play { background: #b3b3b3 none repeat scroll 0 0; height: 2px; margin: 10px 0; max-width: 50%; }
.border-play span { background: #896ae4 none repeat scroll 0 0; display: block; height: 3px; max-width: 30%; position: relative; top: -1px; }
.testimonial-block h3 { color: #362842; font-size: 34px; font-weight: 600; margin-bottom: 20px; font-family: 'nexa_boldregular'; }
.app-btn { display: inline-block; margin: 15px 0px; }
.app-img { padding: 0 30px 0 0; position: relative; top: 12px; }
.testimonial_control { background: #4cac36 none repeat scroll 0 0; border-radius: 0 10px 10px 0; padding: 18px; }
.qto-ico { margin-bottom: 120px; }
.testimonial_btn { display: inline-block; margin: 5px 0; }
.testimonial-autr { padding: 36px; width: 100%; }
.testimonial_subtitle { color: #999999; font-size: 16px; }
.testimonial_btn { }
.clear { clear: both; }
.testimonial_control { background: #5f478f none repeat scroll 0 0; border-radius: 0 10px 10px 0; min-height: 270px; padding: 18px; }
.testimonial_para { color: #636363; font-size: 16px; line-height: 28px; margin-top: 10px; }
.testimonial-block .carousel { border-radius: 10px; box-shadow: 0 0 10px #d3d3d3; }
.footer-clum { background: #242424 none repeat scroll 0 0; padding: 60px 0 0; }
.footer-clum ul { margin-top: 35px; text-align: center; }
.footer-clum ul li { border-right: 1px solid #3d3d3d; display: inline-block; line-height: 30px; padding: 0 19px; }
.footer-clum ul li:last-child { border: none; }
.footer-clum ul li a { color: #a1a1a1; display: block; font-size: 16px; }
.copy { color: #b6b6b6; font-size: 14px; padding: 20px 15px; }
.copy a{
  color: #b6b6b6;
  font-size: 14px;
  padding: 20px 15px;
}
/* footer social icons */
ul.social-network { border-bottom: 1px dashed; display: block; list-style: outside none none; margin-left: 0; margin-top: 40px; padding-bottom: 17px; }
ul.social-network li { border: medium none; display: inline-block; margin: 0; padding: 0 10px; }
.social-circle li a { border: 1px solid #737373; border-radius: 50%; color: #737373; display: inline-block; font-size: 20px; height: 40px; margin: 0 auto; position: relative; text-align: center; width: 40px; }
.social-circle li i { margin: 0; line-height: 40px; text-align: center; }
.social-circle i { color: #737373; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s; }
.no-mng { margin: 0; padding: 0; }
.nanigation-top .navbar-toggle { border-color: #fff; }
.nanigation-top .navbar-toggle .icon-bar { background: #fff none repeat scroll 0 0; }
.testimonial-autr h4 {  color: #40545a; font-size: 20px; margin-top: 16px; }
.scroll-ico { bottom: 220px; height: 100px; position: absolute; text-align: center; width: 100%; z-index: 9999; }
.promotional { background-color: #db4437; text-align: center; padding: 30px 0px }
.promotional h1 { color: #ffffff; font-size: 58px; font-weight: bold; text-align: center; font-family: 'nexa_boldregular'; }
.promotional span { color: #ffffff; font-size: 28px; text-align: center; font-family: 'nexa_lightregular'; }
.product-listing { margin: 40px 0px; text-align: center; }
.product-listing h1 {
    color: #362842;
    font-size: 36px;
    font-weight: 600;
    margin: 3px 0 50px;
	font-family: 'nexa_boldregular';
}
.nav.nav-tabs.mytabs { border: medium none; margin: 80px auto; }
.nav-tabs.mytabs > li.active > a, .nav-tabs.mytabs > li.active > a:focus, .nav-tabs.mytabs > li.active > a:hover { border: none !important; background-color: #333278; color: #fff; cursor: default; border-radius: 5px; padding: 13px 34px; margin-right: 0px; font-size: 16px; }
.nav-tabs.mytabs > li { border: 1px solid #dadfe0; border-radius: 5px; float: left; margin: 0 5px; text-align: center; font-size: 16px; }
.nav-tabs.mytabs > li a { color: #444444; padding: 12px 34px; margin: 0; }
.nav-tabs.mytabs > li a:hover { border-radius: 5px; margin-right: 0px; padding: 12px 34px; }
.product_bg { background-color: #ffffff; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); padding: 5px; min-height: 527px; margin-bottom: 29px; }
.product_text > h1 { color: #444444; font-size: 18px; font-weight: 600; padding-top: 14px; margin:0px; font-family: 'nexa_lightregular'; line-height:28px;}
.product_text > span { color: #444444; font-size: 16px; padding-top: 14px; font-weight: 100; font-family: 'nexa_lightregular'; }
h2.price { color: #fd5b4e; font-weight: 600; font-size: 17px; font-family: 'nexa_boldregular'; }
.price span { color: #444444; font-weight: 100; font-size: 16px; text-decoration: line-through; font-family: 'nexa_lightregular'; }
.product_img { position: relative; width: 100%; }
.image { opacity: 1; display: block; width: 100%; height: auto; transition: .5s ease; backface-visibility: hidden; }
.middle { transition: .5s ease; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); width: 100%; }
.product_img:hover .image { opacity: 0.8; background-color: #000 !important; }
.product_img:hover .middle { opacity: 1; }
.text { background-color: #4CAF50; color: white; font-size: 16px; padding: 16px 32px; }
.btn.btn-default.mybutton { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 3px solid #ffffff; border-radius: 40px; color: #ffffff; padding: 10px 20px; }
.btn.btn-default.mybutton.selected { background: #fd5b4e; border: 3px solid #fd5b4e; border-radius: 40px; color: #ffffff; padding: 10px 20px; }
.header-bg { background: url("../img/header-bg.jpg") repeat scroll 0 0 / cover; }
.main-menu .container-fluid { }

.bootstrapWizard { display: block; list-style: none; padding: 0; position: relative; width: 100% }
.bootstrapWizard a:hover, .bootstrapWizard a:active, .bootstrapWizard a:focus { text-decoration: none }
.bootstrapWizard li { display: block; float: left; width: 25%; text-align: center; padding-left: 0 }
.bootstrapWizard li::before { border-top: 15px solid #e6e6e6; content: ""; display: block; font-size: 0; overflow: hidden; position: relative; right: 1px; top: 22px; width: 100%; z-index: 1; }
.bootstrapWizard li:first-child:before { left: 50%; max-width: 50% }
.bootstrapWizard li:last-child:before { max-width: 50%; width: 50% }
.bootstrapWizard li.complete .step { background: #0aa66e; padding: 1px 6px; border: 3px solid #55606E }
.bootstrapWizard li .step i { font-size: 10px; font-weight: 400; position: relative; top: -1.5px }
.bootstrapWizard li .step { background: #B2B5B9; color: #fff; display: inline; font-size: 20px; font-weight: 700; line-height: 12px; padding: 11px 18px; border: 3px solid transparent; border-radius: 50%; line-height: normal; position: relative; text-align: center; z-index: 2; transition: all .1s linear 0s; font-family: 'nexa_boldregular';}
.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step { background: #eeb906 none repeat scroll 0 0; border: 3px solid #eeb906; border-radius: 50%; color: #ffffff; font-size: 20px; font-weight: 700; padding: 11px 18px; font-family: 'nexa_boldregular'; }
.bootstrapWizard li.complete .title, .bootstrapWizard li.active .title { color: #2B3D53 }
.bootstrapWizard li .title { color: #bfbfbf; display: block; font-size: 13px; line-height: 15px; max-width: 100%; position: relative; table-layout: fixed; text-align: center; top: 20px; word-wrap: break-word; z-index: 104 }
.wizard-actions { display: block; list-style: none; padding: 0; position: relative; width: 100% }
.wizard-actions li { display: inline }
.tab-content.transparent { background-color: transparent }
.nav.nav-tabs.mytabs { margin: 80px auto; max-width: 56%; width: 100%; }
.voice-record { background: #fafafa none repeat scroll 0 0; }
.voice-post { padding: 30px; }
.home-newsletter a.lead-btn { background: #eeb906 none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #ffffff; font-family: "Open Sans"; font-size: 20px; letter-spacing: 1px; margin-top: 67px; padding: 15px 40px; text-align: center; }
.news-slide { background: #fafafa none repeat scroll 0 0; padding: 40px 0; margin-bottom: 75px; }
#testimonial4 { min-height: 290px; overflow: hidden; position: relative; }
#testimonial4 .carousel-inner { width: 75%; margin: auto; }
#testimonial4 .carousel-inner:hover { cursor: -moz-grab; cursor: -webkit-grab; }
#testimonial4 .carousel-inner:active { cursor: -moz-grabbing; cursor: -webkit-grabbing; }
#testimonial4 .carousel-inner .item { overflow: hidden; }
.testimonial4_indicators .carousel-indicators { left: 0; margin: 0; width: 100%; font-size: 0; padding: 0 5px; cursor: e-resize; overflow-x: hidden; overflow-y: hidden; text-align: center; white-space: nowrap; }
.testimonial4_indicators .carousel-indicators li { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; cursor: pointer; display: inline-block; height: auto; margin: 0 3px; padding: 0; text-align: center; text-indent: 0; width: 260px; }
.testimonial4_indicators .carousel-indicators .active { border: medium none; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; margin: 0 3px; padding: 0; }
.testimonial4_indicators .carousel-indicators li img { opacity: 0.4; }
.testimonial4_indicators .carousel-indicators li.active img { opacity: unset; }
 .testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
 height: 3px;
}
.posted-name {
  font-weight: 600;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
 background: #eeeeee;
 -webkit-border-radius: 0;
 border-radius: 0;
}
.close {
  font-size: 36px;
}
.testimonial4_control_button .carousel-control { color: #333; top: 118px; opacity: 1; width: 40px; bottom: auto; height: 40px; font-size: 10px; cursor: pointer; font-weight: 700; overflow: hidden; line-height: 38px; text-shadow: none; text-align: center; position: absolute; background: transparent; border: 2px solid #8a8a8a; text-transform: uppercase; -webkit-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1); transition: all 0.6s cubic-bezier(0.3, 1, 0, 1); }
.testimonial4_control_button .carousel-control.left { left: 7%; right: auto; }
.testimonial4_control_button .carousel-control.right { right: 7%; left: auto; }
.testimonial4_control_button .carousel-control.left:hover, .testimonial4_control_button .carousel-control.right:hover { color: #000; background: #fff; border: 2px solid #333; }
.testimonial4_header { top: 0; left: 0; bottom: 0; width: 550px; display: block; margin: 30px auto; text-align: center; position: relative; }
.testimonial4_header h4 { color: #362842; font-size: 36px; font-weight: 600; letter-spacing: 1px; position: relative; font-family: 'nexa_boldregular';}
.testimonial4_slide { border-bottom: 1px solid #d3d3d3; bottom: 0; left: 0; margin: 0 auto; padding-top: 0; position: relative; right: 0; text-align: center; top: 0; width: 90%; }
.testimonial4_slide img { top: 0; left: 0; right: 0; width: 50px; height: 50px; margin: auto; display: block; color: #f2f2f2; font-size: 18px; line-height: 46px; text-align: center; position: relative; }
.testimonial4_slide p { color: #444444; font-size: 17px;  font-weight: normal; margin: 10px 0 20px; }
.testimonial4_slide h4 { color: #ffffff; font-size: 24px; font-weight: bold; }
 @media only screen and (max-width: 480px) {
.testimonial4_control_button .carousel-control { display: none; }
.testimonial4_header { width: 95%; }
.testimonial4_header h4 { font-size: 20px; }
.testimonial4_slide { width: 98%; padding: 5px; }
}
 @media (min-width: 481px) and (max-width: 767px) {
.testimonial4_control_button .carousel-control.left { left: 2%; }
.testimonial4_control_button .carousel-control.right { right: 2%; }
.testimonial4_header { width: 95%; }
.testimonial4_slide { width: 98%; padding: 5px; }
}
 @media (min-width: 768px) and (max-width: 991px) {
.testimonial4_control_button .carousel-control.left { left: 5%; }
.testimonial4_control_button .carousel-control.right { right: 5%; }
}
 @-webkit-keyframes psBoxShadowEffect_2 { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
 -webkit-transform: scale(1.5);
 opacity: 0;
}
}
@keyframes psBoxShadowEffect_2 { 0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
 transform: scale(1.5);
 opacity: 0;
}
}
.pagination { border-radius: 4px; display: inline-block; margin: 50px 0 60px; padding-left: 0; text-align: center;}
.pagination a { color: #7a7a7a; font-size: 14px; margin: 0 10px 0 25px; }
.pagination a.active { border-bottom: 1px solid #000; color: #000; font-weight: 600; }
.footer-logo { text-align: center; }
.cart { background: #ffffff none repeat scroll 0 0; border: 1px solid #f1f1f1; border-radius: 50%; box-shadow: 0 2px 1px #d3d3d3; color: #636363; height: 40px; padding: 10px; text-align: center; width: 40px; }
.cart span { background: #eeb906 none repeat scroll 0 0; border-radius: 50%; color: #ffffff; display: block; font-size: 14px; height: 24px; padding: 2px; position: relative; right: -10px; text-align: center; top: -43px; width: 24px; }
.product-detail-expand {
  background-color: #fafafa;
  float: left;
  margin-bottom: 24px;
  padding-bottom: 5px;
  width: 100%;
}
.item .thumb { width: 25%; cursor: pointer; float: left; }
.item .thumb img { width: 100%; border: 1px solid #ebebeb; }
.item img { width: 100%; }
.product-detail-exp { padding: 36px; text-align: left; line-height: 30px; }
.product-detail-exp > h2 { font-size: 22px; font-weight: bold; color: #444; font-family: 'nexa_boldregular'; }
.product-detail-exp > h3 { color: #444444; font-size: 16px; font-weight: 100; padding-bottom:15px; }
.card-details { color: #8d8d8d; padding-top: 10px; }
.card-details .details-item .details-label.float-left { display: inline-block; margin-right: 20px; width: 126px; }
.card-details .details-item .details-label { color: #000000; display: block; font-weight: 600; line-height: 1.3; color: #444; }
.card-details .details-item .details-desc { overflow: hidden; }
.float-left { float: left; }
.card-details .details-divider { background: #e8e8e8 none repeat scroll 0 0; height: 1px; margin: 20px 0; }
.simple-list li { margin-bottom: 4px; padding-left: 16px; position: relative; }
.simple-list li::before { background: #acacac none repeat scroll 0 0; content: ""; height: 3px; left: 0; position: absolute; top: 15px; width: 3px; }
.product-detail-exp a.lead-btn { background: #eeb906 none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #ffffff; font-family: "Open Sans"; font-size: 20px; margin-top: 67px; padding: 15px 40px; text-align: center; font-family: 'nexa_boldregular'; }
.product-detail-exp a.lead-btn:hover { background: #e2b603 none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #ffffff; font-family: "Open Sans"; font-size: 20px; margin-top: 67px; padding: 15px 40px; text-align: center; font-family: 'nexa_boldregular';}
.inner { background-color: #ccc; height: 800px; }
.cross-icon { padding: 7px 15px; text-align: right; width: 100%; }


/*<!--UPLOAD IMAGE-->*/

.inner-page-container {
    background-color: #f8f8f8;
    padding: 40px 10% 50px;
}
.photo-frame { background-color: #ffffff; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); margin-top: 98px; padding: 29px 53px; }
.photo-frame h1 { background: rgba(0, 0, 0, 0) url("../img/card-icon.png") no-repeat scroll 0 0; color: #000000; font-size: 20px; min-height: 40px; padding-left: 43px; padding-top: 5px; }
.photo-frame h1 span { color: #646464; font-size: 20px; padding-top: 11px; }
.photo-frame a.lead-btn { background: #eeb906 none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #ffffff; "nexa_lightregular"; font-size: 18px; padding: 9px 3px 9px 32px; text-align: center; text-transform: uppercase; }
.fa.fa-arrow-right.myarrow { background-color: #ffc80a; border-radius: 50%; padding: 8px; }
.uplaod-card,.uplaod-audio { margin-top: 30px;overflow: hidden;}
.uplaod-card-text { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #fcfcfc; border-color: #d8d8d8 currentcolor #d8d8d8 #d8d8d8; border-image: none; border-style: solid none solid solid; border-width: 1px medium 1px 1px; min-height: 726px; }
.uplaod-card-img {  border: 1px dashed #d8d8d8; margin: 0; padding:5px;float:left;position: relative;width: 100% }
.myrow { margin: 0px; padding: 0px; }
.uplaod-card-text h1 { background-image: none; margin-top: 288px; text-align: center; width: 100%; font-family: 'Dancing Script', cursive; font-size: 43px; font-weight: bold; }
.col-left { border-bottom: 1px solid #afafaf; padding-bottom: 10px; }
.col-left h1 { color: #444; font-size: 22px; }
.fa.fa-info-circle.mycircle { padding-left: 58px; color: #544288; }
.col-left-img {text-align: center; }
.col-left-img > li { padding-top: 40px; }
.select-another-card { margin-top: 50px; }
.select-another-card a.lead-btn { background: #fff none repeat scroll 0 0; border: medium none; border-radius: 50px; color: #ffffff; "nexa_lightregular"; font-size: 18px; padding: 9px 25px 9px 7px; text-align: center; color:#696969;   border:1px solid #e8e8e8; }
.fa.fa-arrow-left.myarrow {
  background-color: #5f478f;
  border-radius: 50%;
  color: #ffffff;
  margin-right: 6px;
  padding: 8px;
}
.add-photo-button {
  float: right;
  left: 26%;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 999;
}
.add-photo-button a.lead-btn {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 21px;
  padding: 24px 32px;
  text-align: center;
  text-transform: capitalize;
  font-family:"nexa_lightregular";
}
.add-photo-button a.lead-btn:hover{background: rgba(0,0,0,0.9)}


.record-your-voice a.lead-btn {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #ffffff;
  font-family:"nexa_lightregular";
  font-size: 21px;
  padding: 24px 32px;
  text-align: center;
  text-transform:capitalize;
}

.record-your-voice a.lead-btn:hover {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;

}
.record-your-voice {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 36%;
    width: 100%;

.record-your-voice h2 {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  padding-top: 13px;
  text-shadow: 1px 1px 1px #818181;
}

.recording-bar {
  margin-top: 65px;
}

.recording-buttons{margin-top:20px;}

.card-orignal-image {
  float: right;
  position: relative;

}


.mycol {
    padding:0px 15px 0px 0px;}
