</div>
    </div>
     </div>
     </div>

  <section class="cus-Support cus-Support-audio" style="display: none;">
  <!-- <section class="cus-Support cus-Support-audio" style="display:<?php echo !empty($this->request->session()->read("GuestUser.page_number") && $this->request->session()->read("GuestUser.page_number")==3)?"block":"none"; ?>"> -->
  
</section>   

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<?php echo $this->Html->script("bootstrap.min");?>
<?php echo $this->Html->script("slider");?>
<?php echo $this->Html->script("sweetalert.min");?>
<?php echo $this->Html->script("custom");?>
<?php echo $this->Html->script("cropper.min");?>
<?php echo $this->Html->script("main");?>
<?php echo $this->Html->script("shieldui-all.min");?>


</body>
  </html>
   
<script>
$(window).scroll(function() {

    if ($(this).scrollTop()>0)
     {
        $('.emr-ico').fadeOut();
     }
    else
     {
      $('.emr-ico').fadeIn();
     }
 });
 
 </script>
<script>
 $(window).scroll(function(){
        var wscroll = $(this).scrollTop();
        if(wscroll > 50){
         $(".navbar").addClass("shrink-nav");
        }
        else{
          $(".navbar").removeClass("shrink-nav");
        }
      });
 
  </script>
   <?php if(!empty($this->request->query['page'])){?>
        <script type="text/javascript">
          $('html, body').animate({
                 
                scrollTop: $(".mytabs").offset().top
            }, 1000);

        </script>
        <?php } ?>
