 <div class="show_more_images<?php echo $count;?>">
 <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
             <img id="blah<?php echo $count;?>" src="" alt="your image" style="display:none;width:150px;height:150px; "/>
            </div>
          </div>
 <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
             <?php echo $this->Form->input('images['.$count.']', ['class' => 'form-control images_template images_template'.$count.'', 'id' => $count, 'label' => false, "type" => "file",'onchange' => "readmoreURL(this);"]); ?>
             <input type="hidden" name="tempid[<?php echo $count;?>]" value="0" />
           </div>
         </div>
          <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Customize Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
             <input type="checkbox" onchange="triggerImageValidation(this);" class="show_preview_checkbox mypreviewcheckbox_<?php echo $count;?>" id="<?php echo $count;?>" name='show_preview<?php echo "[$count]";?>' value="1">
           </div>
         </div>
</div>
      
       

