
Hi Admin, </br>

<p>You have received a email from League of Moms.</p>

<p>These are the user details.</p>
<b>Name:</b> <?= $name;?><br />
<b>Email:</b> <?= $email;?><br />

<p><b>Message:</b> <?=$message;?></p>

<p>Thanks!</p>
<p>Loudcard Team</p>

