Dear <?=$username;?></br>

<p>You have successfully <?php echo $type;?> to the loudcard. Please find the card detail below</p> </br>

<table align="center" style="border:1px solid grey; text-align: center;" cellpadding="5" cellspacing="5">
    <tr style="background-color: #333333; color: #fff !important">
        <td>Card name</td>
        <td> Caregory </td>
        <td> Price($) </td>
        

    </tr>
   
        <tr><td> <?= $template_name; ?>  </td>
            <td>  <?=$tag_name; ?>  </td>
            <td>  <?=$price; ?>  </td>
        </tr>
   
  
</table> 

<p>Thanks!</p>
<p>Loudcard</p>
