<?php 
echo $this->element('header'); 
echo $this->Flash->render();
?>
 <?= $this->fetch('content') ?>
<?php 
echo $this->element('footer'); 
?>

<!-- <div class="overlay">
	<div class="imageHol">	
		<?php echo $this->Html->image('pageloader.gif'); ?>
	</div>
</div> -->