<?php 
echo $this->element('thankyou_header'); 
?>
 <?= $this->fetch('content') ?>
<?php 
echo $this->element('inner_footer'); 
?>

<!-- <div class="overlay">
	<div class="imageHol">	
		<?php echo $this->Html->image('pageloader.gif'); ?>
	</div>
</div> -->
