 <?php $user_audio   = 'img/user_audio/'.$this->request->session()->read('GuestUser.audio_name');

  ?>
  <div class="row">
    <div class="col-md-2 playbtn-left">
      <button id="pButton_audios" class="play"></button>
    </div>
    <div class="col-md-10 playbtn-right">     
      <audio id="music_audios" preload="auto" src="<?php echo $SITEURL.$user_audio;?>" controls="" style="display: none;"></audio>
      <div id="audioplayer">
        <div id="timeline_audios">
          <div id="playhead_audios"></div>
        </div>
      </div>
    </div>
  </div>
<script>
 var marginLeft_audios = 0;
 var new_duration = "<?php echo $this->request->session()->read("duration");?>";
 var new_counter = "<?php echo $this->request->session()->read("total_sec");?>";
 $(document).on("click","#pButton_audios",function(){
   play_audios(music_audios,pButton_audios);
 }

 function play_audios(music,pButton) {
  if(pButton_audios.className=="play") {
    if (music_audios.paused) {
      music_audios.play();
     // remove play, add pause
      pButton_audios.className = "";
      pButton_audios.className = "pause";
    } 
    return false;

  }
  if(pButton_audios.className=="pause"){// pause music
    music_audios.pause();
    // remove pause, add play
    pButton_audios.className = "";
    pButton_audios.className = "play";
    return false;
  }
}

function playMyAudioBar() {
  
}

function pauseMyAudioBar() {

}

function stopMyAudioBar() {

}




</script> 














<!----div class="row">
                  <div class="col-md-2 playbtn-left">
                    <button id="pButton_audios" class="play"></button>
                  </div>
                  <div class="col-md-10 playbtn-right">
                   
                    <audio id="music_audios" preload="auto" src="<?php echo $SITEURL.$user_audio;?>" controls="" style="display: none;"></audio>
                    <div id="audioplayer">
                      <div id="timeline_audios">
                        <div id="playhead_audios"></div>
                      </div>
                    </div>
                     </div>
                </div----->                


  <!---script type="text/javascript">
    /*var music_audios = document.getElementById('music_audios'); // id for audio element
    var duration_audios = music_audios.duration; // Duration of audio clip, calculated here for embedding purposes
    music_audios.addEventListener('durationchange', function(e) {
      duration_audios = e.target.duration;
    });
    var pButton_audios = document.getElementById('pButton_audios'); // play button
    var playhead_audios = document.getElementById('playhead_audios'); // playhead
    var timeline_audios = document.getElementById('timeline_audios'); // timeline*/
    var marginLeft_audios = 0;
    var new_duration = "<?php echo $this->request->session()->read("duration");?>";
    var new_counter = "<?php echo $this->request->session()->read("total_sec");?>";
$(document).on("click","#pButton_audios",function(){
  play_audios(music_audios,pButton_audios);

    /*interval = setInterval(function() {

                          marginLeft_audios =  (marginLeft_audios + parseFloat(new_duration));
                          var new_marginLeft_audios = marginLeft_audios+'%';
                          // alert(new_marginLeft_audios);
                         $(document).find("#playhead_audios").css("marginLeft",new_marginLeft_audios);
                            // Display 'counter' wherever you want to display it.
                            if (new_counter == 2) { 
                              alert(1);
                                 // $(document).find(".start_stop_btn").trigger("click");                           
                                // $(".record-btn").trigger("click");
                                clearInterval(interval);

                                $(document).find(".record-btn_text").html("Record new");
                                $(document).find(".start_stop_btn").attr("src",path+"img/play.png");
                                 
                                // $("#timer").hide();
                                
                                
                              }else{
                              new_counter--  
                              }
                                 
                            }, 1000);*/



  // music_audios.addEventListener("timeupdate", timeUpdate_audios, false);

  // timeline_audios.addEventListener("click", function(event) {
  //   moveplayhead_audios(event);
  //   music_audios.currentTime = duration_audios * clickPercent_audios(event);
  // }, false);
        
      
        /*e.stopPropagation();
        e.preventDefault();
        return false;*/
});

// music_audios.addEventListener("canplaythrough", function() {
//     duration_audios = music_audios.duration;
// }, false);


// function clickPercent_audios(event) {
//     return (event.clientX - getPosition(timeline_audios)) / timelineWidth_audios;
// }
// function moveplayhead_audios(event) {
//     var newMargLeft = event.clientX - getPosition(timeline_audios);

//     if (newMargLeft >= 0 && newMargLeft <= timelineWidth_audios) {
//         playhead_audios.style.marginLeft = newMargLeft + "px";
//     }
//     if (newMargLeft < 0) {
//         playhead_audios.style.marginLeft = "0px";
//     }
//     if (newMargLeft > timelineWidth_audios) {
//         playhead_audios.style.marginLeft = timelineWidth_audios + "px";
//     }
// }
// function timeUpdate_audios() {
//     var playPercent = timelineWidth_audios * (music_audios.currentTime / duration_audios);
//     // alert(playPercent);
//     playhead_audios.style.marginLeft = playPercent + "px";
//     if (music_audios.currentTime == duration_audios) {
//         pButton_audios.className = "";
//         pButton_audios.className = "play";
     
//     }
// }
function play_audios(music,pButton) {
  if(pButton_audios.className=="play") {
    if (music_audios.paused) {
      music_audios.play();
     // remove play, add pause
      pButton_audios.className = "";
      pButton_audios.className = "pause";
    } 
    return false;

  }
  if(pButton_audios.className=="pause"){// pause music
    music_audios.pause();
    // remove pause, add play
    pButton_audios.className = "";
    pButton_audios.className = "play";
    return false;
  }
}

function playMyAudioBar() {
  
}

function pauseMyAudioBar() {

}

function stopMyAudioBar() {

}





  </script---->          