<div class="row">
                  <div class="playbtn-left">
                  <button id="pButton_audio" class="play" style="display: none;"></button>
                  </div>
                  <div class="playbtn-right strt-reco stop-reco"> 
                   
                    <div id="audioplayer">
                      <div id="timeline_audio">
                        <div id="playhead_audio"></div>
                      </div>
                    </div>
                    <div class="timer" id="timer">0:30</div>
                     </div>  <div class="clear"></div> 
                     </div>