 <?php $user_audio   = 'img/user_audio/'.$this->request->session()->read('GuestUser.audio_name'); ?>
<script type="text/javascript">
  

</script>

 <div class="row">
                  <div class="playbtn-left">
                    <button id="pButton_audios" class="play"></button>
                  </div>
                  <div class="playbtn-right">
                   
                    <audio id="music_audios" preload="auto" src="<?php echo $SITEURL.$user_audio;?>" controls="" style="display: none;"></audio>
                    <div id="audioplayer">
                      <div id="timeline_audios">
                        <div id="playhead_audios"></div>
                      </div>
                      <span class="play_pause_btn_audios">Play</span>
                    </div>
                     </div> <div class="clear"></div> 
                </div>
                


  <script type="text/javascript">


    var music_audios = document.getElementById('music_audios'); // id for audio element
var duration_audios = music_audios.duration; // Duration of audio clip, calculated here for embedding purposes
 music_audios.addEventListener('durationchange', function(e) {
    // alert(e.target.duration); //FIRST 0, THEN REAL DURATION
    duration_audios = e.target.duration;
});
var pButton_audios = document.getElementById('pButton_audios'); // play button

var playhead_audios = document.getElementById('playhead_audios'); // playhead
var timeline_audios = document.getElementById('timeline_audios'); // timeline
var timelineWidth_audios = timeline_audios.offsetWidth - playhead_audios.offsetWidth;
$(document).on("click","#pButton_audios",function(){

  play_audios(music_audios,pButton_audios);

  music_audios.addEventListener("timeupdate", timeUpdate_audios, false);

  timeline_audios.addEventListener("click", function(event) {
    moveplayhead_audios(event);
    music_audios.currentTime = duration_audios * clickPercent_audios(event);
  }, false);
        
      // } else if(d=="pause"){
      //   alert(2);
      //  music_audio.pause();
      //   // remove pause, add play
      //   pButton_audio.className = "";
      //   pButton_audio.className = "play";
      // }
   
// alert(d);
  //     if(d=="play"){
        // alert(1);
        e.stopPropagation();
        e.preventDefault();
        return false;
});

music_audios.addEventListener("canplaythrough", function() {
    duration_audios = music_audios.duration;
}, false);

// setTimeout(function(){
//  $(document).find("#pButton_audio").trigger("click");
  
// },150);
function clickPercent_audios(event) {
    return (event.clientX - getPosition(timeline_audios)) / timelineWidth_audios;
}
function moveplayhead_audios(event) {
    var newMargLeft = event.clientX - getPosition(timeline_audios);

    if (newMargLeft >= 0 && newMargLeft <= timelineWidth_audios) {
        playhead_audios.style.marginLeft = newMargLeft + "px";
    }
    if (newMargLeft < 0) {
        playhead_audios.style.marginLeft = "0px";
    }
    if (newMargLeft > timelineWidth_audios) {
        playhead_audios.style.marginLeft = timelineWidth_audios + "px";
    }
}
function timeUpdate_audios() {
    var playPercent = timelineWidth_audios * (music_audios.currentTime / duration_audios);
    // alert(playPercent);
    playhead_audios.style.marginLeft = playPercent + "px";
    if (music_audios.currentTime == duration_audios) {
        pButton_audios.className = "";
        pButton_audios.className = "play";
        $(document).find(".play_pause_btn_audios").html("Play");
     
    }
}
function play_audios(music,pButton) {
     // start music
    // alert(pButton_audios.className);
    if(pButton_audios.className=="play"){
    
    if (music_audios.paused) {
        music_audios.play();
        // remove play, add pause
        pButton_audios.className = "";
        pButton_audios.className = "pause";
        $(document).find(".play_pause_btn_audios").html("Pause");
    
    } 

return false;

  }


    if(pButton_audios.className=="pause"){// pause music
     
        music_audios.pause();
        // remove pause, add play
        pButton_audios.className = "";
        pButton_audios.className = "play";
        $(document).find(".play_pause_btn_audios").html("Play");
    return false;
    }

    //  else { // pause music
    //     music_audio.pause();
    //     // remove pause, add play
    //     pButton_audio.className = "";
    //     pButton_audio.className = "play";
    
    // }
    
}

function getPosition(el) {
    return el.getBoundingClientRect().left;
}

$(document).on("click",".play_pause_btn_audios",function(){
                $(document).find("#pButton_audios").trigger("click");
              });
  </script>          
