
<div class="row">
  <form action="" method="post" enctype="multipart/form-data" id="user_image_upload">
    <?php if(!empty($templates_images)): $i=1; foreach($templates_images as $images): if($i <=2){$class="templates_images";}else{$class="simple_images";}?>
      <?php if(!empty($images['user_upload'])){ 
        $user_upload = $images['user_upload'];
      }else{
        $user_upload = "";
      }
      $filename = WWW_ROOT . 'img' . DS . 'user_images' . DS . $images['user_upload'];

      if($class=="templates_images"){?>
      <img src="<?php echo $SITEURL;?>img/user_images/<?php echo $user_upload;?>" style="display:<?php if(!empty($images['user_upload'])){echo "block";}else{echo "none";} ?>" class="user_thumb_image">
      
      <?php }?>
      <div class="col-sm-3"><?php echo $this->Html->image("template_images/".$images['images'],['class' => $class,'id' => $images['id'],'data-preview' => $images['show_preview'],"data-counter" => $i]);?>
        <?php if($class=="simple_images"){?>
        <input type="hidden" value="<?php echo $images['id'];?>" class="image_id" >
        <input type="file" class="set_uer_image" style="display:none;">
        <div class="col-sm-6 show_upload_button" style="display: none;"><button type="submit" class="btn btn-primary pull-right upload_img">Upload Image</button></div>
        <?php } if($i%2==0){echo "</div></div><div class='row'>";} ?>
        <?php if($i==3){?>
        <img src="<?php echo (!empty($images['user_upload']))?$SITEURL."img/user_images/".$user_upload:"";?>" data-img="<?php echo (!empty($images['user_upload']))?$images['user_upload']:"";?>" class="show_user_img" style="display:<?php echo (!empty($images['user_upload']))?'block':'none';?>">
        <?php }?>
      </div>
      <?php $i++; endforeach; endif;  ?>
    </div>  
    
          <!-- <div class="row">
          <div class="col-sm-6"></div>
          <input type="file" class="set_uer_image" style="display:none;">
          <div class="col-sm-6"><button type="submit" class="btn btn-primary pull-right upload_img">Upload Image</button></div>
        </div> -->
      </form>
     
    </div>
    </hr>
    <div class="row">
    <div class="col-sm-12">
     <form id="upload_final_image" action="" enctype="multipart/form-data" style="display: none;">
      <img id="blah" src="" alt="your image" height="100" />
      <button type= "submit" class="brtn btn-warning">Save</button>
      </form>
    </div>
    </div>
      <!--   <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->